Repository sauravbhattacharya001/WinSentinel: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Library, CLI, Agent

.codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 1
  round: down
  range: "40...80"

  status:
    project:
      default:
        target: auto
        threshold: 2%
        if_ci_failed: success
    patch:
      default:
        target: 60%
        threshold: 5%

  paths:
    - "src/**"

ignore:
  - "tests/**"
  - "docs/**"
  - "*.md"
  - "*.ps1"
  - "src/WinSentinel.Installer/**"
  - "src/WinSentinel.App/obj/**"
  - "**/Migrations/**"

comment:
  layout: "reach,diff,flags,components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  unittests:
    paths:
      - src/
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Library
      paths:
        - src/WinSentinel.Core/**
    - component_id: cli
      name: CLI
      paths:
        - src/WinSentinel.Cli/**
    - component_id: agent
      name: Agent
      paths:
        - src/WinSentinel.Agent/**

security: fix semicolon bypass in CheckDangerousCommand and TOCTOU race in FixEngine
  src/WinSentinel.Core/Helpers/InputSanitizer.cs
  src/WinSentinel.Core/Services/FixEngine.cs
  tests/WinSentinel.Tests/InputSanitizerTests.cs
Due: unittests, Core Library

feat(cli): add --inventory command for system asset snapshot
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Inventory.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Cli/WinSentinel.Cli.csproj
Due: unittests, CLI

feat: add --config export/import/inspect for portable config backup & restore
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/ConfigBackupService.cs
  tests/WinSentinel.Tests/Cli/CliParserTests.cs
  tests/WinSentinel.Tests/Services/ConfigBackupServiceTests.cs
Due: unittests, Core Library, CLI

fix(security): close pipe-to-iex and multi-semicolon bypasses in InputSanitizer
  src/WinSentinel.Core/Helpers/InputSanitizer.cs
  tests/WinSentinel.Tests/InputSanitizerTests.cs
Due: unittests, Core Library

refactor: simplify ThreatCorrelator rules with bidirectional matching
  src/WinSentinel.Agent/Services/ThreatCorrelator.cs
Due: unittests, Agent

docs: add XML doc comments to SARIF models, baseline models, and agent snapshot
  src/WinSentinel.Agent/AgentState.cs
  src/WinSentinel.Core/Models/BaselineModels.cs
  src/WinSentinel.Core/Services/SarifExporter.cs
Due: unittests, Core Library, Agent

feat: CLI --tag command for finding tag management
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Tags.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
Due: unittests, CLI

feat: publish CLI as .NET global tool via NuGet
  .github/workflows/nuget.yml
  src/WinSentinel.Cli/WinSentinel.Cli.csproj
Due: unittests, CLI

feat(cli): add --hotspots command for security hotspot analysis
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Hotspots.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/HotspotAnalyzer.cs
Due: unittests, Core Library, CLI

Add performance issue template for resource usage reports
  .github/ISSUE_TEMPLATE/performance_issue.yml
Due: none

feat: add --deps command for finding dependency graph analysis
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/FindingDependencyGraph.cs
  tests/WinSentinel.Tests/Services/FindingDependencyGraphTests.cs
Due: unittests, Core Library, CLI

feat(cli): add --kpi command - security KPI dashboard with MTTR, debt, recurrence, health scoring
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Models/KpiModels.cs
  src/WinSentinel.Core/Services/SecurityKpiService.cs
Due: unittests, Core Library, CLI

build(nuget): add SourceLink and symbol package publishing
  .github/workflows/nuget.yml
  src/WinSentinel.Cli/WinSentinel.Cli.csproj
  src/WinSentinel.Core/WinSentinel.Core.csproj
Due: unittests, Core Library, CLI

ci(docker): add concurrency groups, SBOM generation, and build attestation
  .github/workflows/docker.yml
Due: none

fix: ExtractDirectory stops at dots, breaking paths with dots in directory names
  src/WinSentinel.Agent/Services/ThreatCorrelator.cs
Due: unittests, Agent

fix: close semicolon-trailing bypass in CheckDangerousCommand
  src/WinSentinel.Core/Helpers/InputSanitizer.cs
Due: unittests, Core Library

fix: prevent concurrent IPC broadcast writes from corrupting JSON on wire
  src/WinSentinel.Agent/Services/IpcServer.cs
Due: unittests, Agent

feat: add --drift command for configuration drift detection
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/DriftDetectionService.cs
  tests/WinSentinel.Tests/Services/DriftDetectionServiceTests.cs
Due: unittests, Core Library, CLI

fix: kill chain correlation by tracking failed logons by target username (#141)
  src/WinSentinel.Agent/Modules/EventLogMonitorModule.cs
Due: unittests, Agent

refactor: extract TryBidirectionalMatch helper in ThreatCorrelator
  src/WinSentinel.Agent/Services/ThreatCorrelator.cs
Due: unittests, Agent

docs: replace ASCII architecture diagram with Mermaid + add threat flow diagram
  README.md
Due: none

feat(cli): add --sla command for SLA compliance tracking
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/Program.cs
Due: unittests, CLI

fix: self-correlation bug in CheckHostsFileAndProcess
  src/WinSentinel.Agent/Services/ThreatCorrelator.cs
Due: unittests, Agent

feat(cli): add --coverage command for security coverage map
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Coverage.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/SecurityCoverageService.cs
Due: unittests, Core Library, CLI

feat(cli): add --risk-matrix command for likelihood × impact heat map
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.RiskMatrix.cs
  src/WinSentinel.Cli/Program.cs
Due: unittests, CLI

feat: add --fingerprint command for security posture hashing and drift detection
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/SecurityFingerprintService.cs
Due: unittests, Core Library, CLI

feat(cli): add --noise command for finding source noise analysis
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Noise.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Models/NoiseModels.cs
  src/WinSentinel.Core/Services/NoiseAnalyzer.cs
Due: unittests, Core Library, CLI

feat(cli): add --priorities command for ranked action planning
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/PriorityPlanner.cs
  tests/WinSentinel.Tests/Services/PriorityPlannerTests.cs
Due: unittests, Core Library, CLI

refactor(cli): extract RunAuditAsync helper to eliminate audit boilerplate
  src/WinSentinel.Cli/Program.cs
Due: unittests, CLI

feat: add --gamify CLI command for security gamification profile
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Gamify.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/GamificationService.cs
Due: unittests, Core Library, CLI

docs: add enterprise deployment guide
  docfx/articles/enterprise-deployment.md
  docfx/articles/toc.yml
Due: none

Add compatibility issue template for driver/AV/GPO conflicts
  .github/ISSUE_TEMPLATE/compatibility_issue.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: none

feat: add --regression command to detect resolved findings that reappear
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/RegressionDetector.cs
  tests/WinSentinel.Tests/Services/RegressionDetectorTests.cs
Due: unittests, Core Library, CLI

docs: add Security Model and Troubleshooting sections to README
  README.md
Due: none

perf: use GeneratedRegex source generators for extraction helpers
  src/WinSentinel.Agent/Services/AgentBrain.cs
  src/WinSentinel.Agent/Services/ChatHandler.cs
Due: unittests, Agent

feat(cli): add --heatmap command for GitHub-style audit activity calendar
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Heatmap.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/CalendarHeatmapService.cs
Due: unittests, Core Library, CLI

refactor: use WriteColored/WriteLineColored helpers in PrintBaselineSaved and PrintIgnoreRuleAdded
  src/WinSentinel.Cli/ConsoleFormatter.cs
Due: unittests, CLI

feat(cli): add --maturity security maturity assessment command
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Maturity.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Models/MaturityModels.cs
  src/WinSentinel.Core/Services/MaturityAssessmentService.cs
Due: unittests, Core Library, CLI

feat(cli): add --watch command for continuous security monitoring
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/Program.cs
Due: unittests, CLI

refactor: migrate 5 audit modules from IAuditModule to AuditModuleBase
  src/WinSentinel.Core/Audits/BackupAudit.cs
  src/WinSentinel.Core/Audits/BrowserAudit.cs
  src/WinSentinel.Core/Audits/DnsAudit.cs
  src/WinSentinel.Core/Audits/EncryptionAudit.cs
  src/WinSentinel.Core/Audits/NetworkAudit.cs
Due: unittests, Core Library
