Repository sauravbhattacharya001/WinSentinel: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Library, CLI, Agent

.codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 1
  round: down
  range: "40...80"

  status:
    project:
      default:
        target: auto
        threshold: 2%
        if_ci_failed: success
    patch:
      default:
        target: 60%
        threshold: 5%

  paths:
    - "src/**"

ignore:
  - "tests/**"
  - "docs/**"
  - "*.md"
  - "*.ps1"
  - "src/WinSentinel.Installer/**"
  - "src/WinSentinel.App/obj/**"
  - "**/Migrations/**"

comment:
  layout: "reach,diff,flags,components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  unittests:
    paths:
      - src/
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Library
      paths:
        - src/WinSentinel.Core/**
    - component_id: cli
      name: CLI
      paths:
        - src/WinSentinel.Cli/**
    - component_id: agent
      name: Agent
      paths:
        - src/WinSentinel.Agent/**

docs: add DocFX documentation site with API reference
  .github/workflows/pages.yml
  docfx/api/index.md
  docfx/articles/architecture.md
  docfx/articles/audit-modules.md
  docfx/articles/cli-reference.md
  docfx/articles/extending.md
  docfx/articles/getting-started.md
  docfx/articles/toc.yml
  docfx/docfx.json
  docfx/filterConfig.yml
  docfx/index.md
  docfx/toc.yml
  src/WinSentinel.Agent/WinSentinel.Agent.csproj
  src/WinSentinel.Cli/WinSentinel.Cli.csproj
  src/WinSentinel.Core/WinSentinel.Core.csproj
Due: unittests, Core Library, CLI, Agent

feat: security score trend analysis (--trend command)
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/TrendAnalyzer.cs
  tests/WinSentinel.Tests/Services/TrendAnalyzerTests.cs
Due: unittests, Core Library, CLI

fix: eliminate duplicate journal entries + O(1) threat lookup (#12)
  src/WinSentinel.Agent/Services/AgentBrain.cs
  src/WinSentinel.Agent/ThreatLog.cs
Due: unittests, Agent

feat: add SARIF v2.1.0 export for CI/CD and GitHub Code Scanning integration
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/SarifExporter.cs
  tests/WinSentinel.Tests/Services/SarifExporterTests.cs
Due: unittests, Core Library, CLI

feat: add Security Score Badge Generator (SVG badges for README/CI)
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Core/Services/BadgeGenerator.cs
  tests/WinSentinel.Tests/Cli/CliParserTests.cs
  tests/WinSentinel.Tests/Services/BadgeGeneratorTests.cs
Due: unittests, Core Library, CLI

feat: add Finding Correlator for compound security risk detection
  src/WinSentinel.Core/Services/FindingCorrelator.cs
  tests/WinSentinel.Tests/Services/FindingCorrelatorTests.cs
Due: unittests, Core Library

feat: Security Event Timeline — chronological security change narrative
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Models/TimelineModels.cs
  src/WinSentinel.Core/Services/SecurityTimeline.cs
  tests/WinSentinel.Tests/Services/SecurityTimelineTests.cs
Due: unittests, Core Library, CLI

feat: add HTML Dashboard Report generator with 80 tests
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/HtmlDashboardGenerator.cs
  tests/WinSentinel.Tests/Services/HtmlDashboardGeneratorTests.cs
Due: unittests, Core Library, CLI

feat: add Finding Age Tracker for persistence analysis across audit runs
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Models/FindingAgeModels.cs
  src/WinSentinel.Core/Services/FindingAgeTracker.cs
  tests/WinSentinel.Tests/Services/FindingAgeTrackerTests.cs
Due: unittests, Core Library, CLI

test: add 93 tests for ConsoleFormatter (previously 0% coverage)
  tests/WinSentinel.Tests/Cli/ConsoleFormatterTests.cs
Due: none

fix: use composite key (ModuleName::Title) in SecurityTimeline to prevent crash on duplicate finding titles
  src/WinSentinel.Core/Services/SecurityTimeline.cs
Due: unittests, Core Library

fix: prevent duplicate DefenderPlusUnsigned correlations in ThreatCorrelator
  src/WinSentinel.Agent/Services/ThreatCorrelator.cs
Due: unittests, Agent

fix: severity bar chart uses integer division — bars vanish for small counts
  src/WinSentinel.Core/Services/HtmlDashboardGenerator.cs
  tests/WinSentinel.Tests/Services/HtmlDashboardGeneratorTests.cs
Due: unittests, Core Library

refactor: deduplicate scoring; add 38 SecurityScorer tests
  src/WinSentinel.Core/Models/AuditResult.cs
  tests/WinSentinel.Tests/Services/SecurityScorerTests.cs
Due: unittests, Core Library

feat: add AuditDiffService — compare two audit reports
  src/WinSentinel.Core/Services/AuditDiffService.cs
  tests/WinSentinel.Tests/Services/AuditDiffServiceTests.cs
Due: unittests, Core Library

feat: add CSV export format for audit reports
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/ReportGenerator.cs
  tests/WinSentinel.Tests/Services/CsvReportTests.cs
Due: unittests, Core Library, CLI

feat: add Finding Persistence Analyzer
  src/WinSentinel.Core/Services/FindingPersistenceAnalyzer.cs
  tests/WinSentinel.Tests/Services/FindingPersistenceAnalyzerTests.cs
Due: unittests, Core Library

Fix command injection in AutoRemediator.ExecuteFixCommand
  src/WinSentinel.Agent/Services/AutoRemediator.cs
Due: unittests, Agent

cleanup: replace manual HtmlEncode with WebUtility.HtmlEncode
  src/WinSentinel.Core/Services/HtmlDashboardGenerator.cs
Due: unittests, Core Library

fix: BlockIp now blocks both inbound and outbound traffic
  src/WinSentinel.Agent/Services/AutoRemediator.cs
Due: unittests, Agent

fix(security): block Invoke-Expression, WebClient, Add-Type, and Start-Process in dangerous command checks
  src/WinSentinel.Core/Helpers/InputSanitizer.cs
  tests/WinSentinel.Tests/InputSanitizerTests.cs
Due: unittests, Core Library

feat: CSV export for audit reports
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/ReportGenerator.cs
  tests/WinSentinel.Tests/Services/CsvReportTests.cs
Due: unittests, Core Library, CLI

security: fix PowerShell injection in AutoRemediator.EscapeCommand
  src/WinSentinel.Agent/Services/AutoRemediator.cs
  src/WinSentinel.Core/Helpers/InputSanitizer.cs
Due: unittests, Core Library, Agent

feat: add RiskAssessmentService — multi-factor risk scoring for findings
  src/WinSentinel.Core/Services/RiskAssessmentService.cs
  tests/WinSentinel.Tests/Services/RiskAssessmentServiceTests.cs
Due: unittests, Core Library

feat: SecurityPostureService — executive-level security posture reports
  src/WinSentinel.Core/Services/SecurityPostureService.cs
  tests/WinSentinel.Tests/Services/SecurityPostureServiceTests.cs
Due: unittests, Core Library

fix: make BruteForceChain correlation rule bidirectional
  src/WinSentinel.Agent/Services/ThreatCorrelator.cs
Due: unittests, Agent

perf: parallelize audit module execution in AuditEngine
  src/WinSentinel.Core/Services/AuditEngine.cs
Due: unittests, Core Library

feat: add EnvironmentDetector — auto-detect system type (home/dev/enterprise/server/gaming), recommend compliance profile, generate system fingerprint
  src/WinSentinel.Core/Services/EnvironmentDetector.cs
  tests/WinSentinel.Tests/Services/EnvironmentDetectorTests.cs
Due: unittests, Core Library

fix: make BruteForceChain correlation rule bidirectional (#29)
  src/WinSentinel.Agent/Services/ThreatCorrelator.cs
Due: unittests, Agent

feat: add ScanProfileManager — named scan profiles for targeted auditing
  src/WinSentinel.Core/Services/ScanProfileManager.cs
  tests/WinSentinel.Tests/Services/ScanProfileManagerTests.cs
Due: unittests, Core Library

feat: alert rules engine — declarative condition-based alerting
  src/WinSentinel.Core/Services/AlertRuleEngine.cs
  tests/WinSentinel.Tests/Services/AlertRuleEngineTests.cs
Due: unittests, Core Library

security: replace -Command double-quote wrapping with -EncodedCommand
  src/WinSentinel.Agent/Services/AutoRemediator.cs
  src/WinSentinel.Core/Helpers/InputSanitizer.cs
  src/WinSentinel.Core/Helpers/ShellHelper.cs
  src/WinSentinel.Core/Services/FixEngine.cs
Due: unittests, Core Library, Agent

test: add 55 tests for FixResult, SecurityReport, RemediationPlan, and ComplianceModels
  tests/WinSentinel.Tests/Models/ModelIntegrationTests.cs
Due: none

fix: use SecurityScorer.GetGrade in TrendAnalyzer.GenerateBarChart
  src/WinSentinel.Core/Services/TrendAnalyzer.cs
Due: unittests, Core Library

tests: add 44 SecurityPostureService tests + document analysis services
  docs/ARCHITECTURE.md
  tests/WinSentinel.Tests/Services/SecurityPostureServiceTests.cs
Due: none

feat(agent): add clipboard security monitor module
  src/WinSentinel.Agent/Modules/ClipboardMonitorModule.cs
  src/WinSentinel.Agent/Program.cs
Due: unittests, Agent

fix: persist AutoRemediator history to disk across restarts
  src/WinSentinel.Agent/Services/AutoRemediator.cs
Due: unittests, Agent

feat: add Software Inventory Audit — scan installed programs for security risks
  src/WinSentinel.Core/Audits/SoftwareInventoryAudit.cs
  src/WinSentinel.Core/Services/AuditEngine.cs
  tests/WinSentinel.Tests/Audits/SoftwareInventoryAuditTests.cs
Due: unittests, Core Library

test: add 21 tests for AuditHistoryService edge cases and coverage gaps
  tests/WinSentinel.Tests/Services/AuditHistoryServiceTests.cs
Due: none

feat: add Certificate Store Audit module
  src/WinSentinel.Core/Audits/CertificateAudit.cs
  src/WinSentinel.Core/Services/AuditEngine.cs
  tests/WinSentinel.Tests/Audits/CertificateAuditTests.cs
Due: unittests, Core Library
