Repository sauravbhattacharya001/WinSentinel: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Library, CLI, Agent

feat: add --benchmark CLI command for peer group comparison
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Benchmark.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
  tests/WinSentinel.Tests/Cli/CliParserTests.cs
Due: unittests, CLI

feat: add remediation prioritizer with --prioritize CLI command
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/RemediationPrioritizer.cs
  tests/WinSentinel.Tests/Services/RemediationPrioritizerTests.cs
Due: unittests, Core Library, CLI

fix: thread-safety for AgentState scan properties
  src/WinSentinel.Agent/AgentState.cs
  src/WinSentinel.Agent/Services/ScheduledAuditModule.cs
Due: unittests, Agent

feat: What-If Simulator -- preview score impact before fixing findings
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.WhatIf.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/WhatIfSimulator.cs
  tests/WinSentinel.Tests/WhatIfSimulatorTests.cs
Due: unittests, Core Library, CLI

fix: Race condition in ScanScheduler.Stop()
  src/WinSentinel.Core/Services/ScanScheduler.cs
Due: unittests, Core Library

fix: add try-catch guard to async void OnTimerElapsed
  src/WinSentinel.Core/Services/ScanScheduler.cs
Due: unittests, Core Library

fix: escape double-quotes in toast notification XML
  src/WinSentinel.Core/Services/NotificationService.cs
Due: unittests, Core Library

docs+fix: Add XML doc comments to EncryptionAudit & fix TPM status logic
  src/WinSentinel.Core/Audits/EncryptionAudit.cs
Due: unittests, Core Library

fix: remove dead entries from SafeTempPatterns
  src/WinSentinel.Agent/Modules/FileSystemMonitorModule.cs
  tests/WinSentinel.Tests/Agent/FileSystemMonitorModuleTests.cs
Due: unittests, Agent

security: harden CheckDangerousCommand against bypass vectors
  src/WinSentinel.Core/Helpers/InputSanitizer.cs
  tests/WinSentinel.Tests/InputSanitizerTests.cs
Due: unittests, Core Library

perf: pre-compile regex patterns in AgentBrain extraction helpers
  src/WinSentinel.Agent/Services/AgentBrain.cs
Due: unittests, Agent

refactor: remove duplicate response logic from ProcessMonitorModule
  src/WinSentinel.Agent/Modules/ProcessMonitorModule.cs
Due: unittests, Agent

feat: add --matrix CLI command for scan comparison matrix
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Matrix.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/ScanMatrixService.cs
  tests/WinSentinel.Tests/Services/ScanMatrixServiceTests.cs
Due: unittests, Core Library, CLI

perf: batch netstat calls in NetworkMonitorModule
  src/WinSentinel.Agent/Modules/NetworkMonitorModule.cs
Due: unittests, Agent

feat: add Serilog structured logging with rolling file sink and agent enricher
  src/WinSentinel.Agent/AgentEnricher.cs
  src/WinSentinel.Agent/Modules/NetworkMonitorModule.cs
  src/WinSentinel.Agent/Program.cs
  src/WinSentinel.Agent/WinSentinel.Agent.csproj
Due: unittests, Agent

feat: add Serilog structured logging (closes #112)
  src/WinSentinel.Agent/AgentEnricher.cs
  src/WinSentinel.Agent/Program.cs
  src/WinSentinel.Agent/WinSentinel.Agent.csproj
Due: unittests, Agent

feat: add Security Posture Report Card (--reportcard)
  src/WinSentinel.Agent/Modules/NetworkMonitorModule.cs
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Models/ReportCardModels.cs
  src/WinSentinel.Core/Services/ReportCardService.cs
  tests/WinSentinel.Tests/ReportCardServiceTests.cs
Due: unittests, Core Library, CLI, Agent

Add IPC protocol, input validation, and troubleshooting to docs site
  docfx/articles/input-validation.md
  docfx/articles/ipc-protocol.md
  docfx/articles/toc.yml
  docfx/articles/troubleshooting.md
Due: none

docs: comprehensive CLI reference with all 25+ commands and options
  docfx/articles/cli-reference.md
Due: none

feat: add --search command for grep-like finding search
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
Due: unittests, CLI

perf: cache process owner WMI lookups and optimize WMI query in ProcessMonitorModule
  src/WinSentinel.Agent/Modules/ProcessMonitorModule.cs
  src/WinSentinel.Agent/Services/ThreatCorrelator.cs
Due: unittests, Agent

feat: add --breakdown command for per-module score visualization
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Breakdown.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
Due: unittests, CLI

feat(cli): add --summary command for executive security brief
  README.md
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/ExecutiveSummaryGenerator.cs
Due: unittests, Core Library, CLI

feat: add --forecast CLI command for security score forecasting
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
Due: unittests, CLI

perf: optimize ThreatLog query methods to avoid full-queue enumeration
  src/WinSentinel.Agent/ThreatLog.cs
Due: unittests, Agent

fix: remove duplicate checks and fix semicolon validation in InputSanitizer
  src/WinSentinel.Core/Helpers/InputSanitizer.cs
Due: unittests, Core Library

feat: add flapping detection CLI command (--flapping)
  src/WinSentinel.Agent/Modules/NetworkMonitorModule.cs
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Models/FlappingModels.cs
  src/WinSentinel.Core/Services/FlappingDetector.cs
  tests/WinSentinel.Tests/Services/FlappingDetectorTests.cs
Due: unittests, Core Library, CLI, Agent

tests: add ExecutiveSummaryGenerator tests + fix NetworkMonitorModule build error
  src/WinSentinel.Agent/Modules/NetworkMonitorModule.cs
  tests/WinSentinel.Tests/ExecutiveSummaryGeneratorTests.cs
Due: unittests, Agent

feat: add --changelog CLI command
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
Due: unittests, CLI

feat: add --cost command for remediation cost estimation with ROI analysis and sprint planning
  src/WinSentinel.Agent/Modules/NetworkMonitorModule.cs
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/RemediationCostEstimator.cs
  tests/WinSentinel.Tests/RemediationCostEstimatorTests.cs
Due: unittests, Core Library, CLI, Agent

feat: add --burndown CLI command with ASCII chart, velocity stats, and projections
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/FindingBurndownService.cs
  tests/WinSentinel.Tests/Services/FindingBurndownServiceTests.cs
Due: unittests, Core Library, CLI

security: use sanitized values in undo metadata, descriptions, and logs
  src/WinSentinel.Agent/Services/AutoRemediator.cs
Due: unittests, Agent

feat(cli): add --benchmark command for peer group score comparison
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Benchmark.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
Due: unittests, CLI

docs: add compliance profiles guide and configuration reference
  docfx/articles/compliance-profiles.md
  docfx/articles/configuration.md
  docfx/articles/toc.yml
  docfx/index.md
Due: none

feat(cli): add --compliance command for framework mapping
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Compliance.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
Due: unittests, CLI

fix(security): prevent PowerShell injection in elevated fix execution
  src/WinSentinel.Core/Services/FixEngine.cs
Due: unittests, Core Library

fix: close InputSanitizer bypass vectors
  src/WinSentinel.Core/Helpers/InputSanitizer.cs
Due: unittests, Core Library

security: patch CheckDangerousCommand bypass vectors (pwsh, cmd.exe)
  src/WinSentinel.Core/Helpers/InputSanitizer.cs
  tests/WinSentinel.Tests/InputSanitizerTests.cs
Due: unittests, Core Library

feat: add webhook notification for audit results (Slack, Discord, Teams, generic)
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/WebhookNotifier.cs
  tests/WinSentinel.Tests/WebhookNotifierTests.cs
Due: unittests, Core Library, CLI

perf: pre-compute n-gram sets in FindingDeduplicator to avoid redundant allocations
  src/WinSentinel.Core/Services/FindingDeduplicator.cs
Due: unittests, Core Library

Path conditions:
  unittests: any of: src/, but not: tests/**, docs/**, *.md, *.ps1, src/WinSentinel.Installer/**, src/WinSentinel.App/obj/**, **/Migrations/**
  Core Library: any of: src/WinSentinel.Core/**, but not: tests/**, docs/**, *.md, *.ps1, src/WinSentinel.Installer/**, src/WinSentinel.App/obj/**, **/Migrations/**
  CLI: any of: src/WinSentinel.Cli/**, but not: tests/**, docs/**, *.md, *.ps1, src/WinSentinel.Installer/**, src/WinSentinel.App/obj/**, **/Migrations/**
  Agent: any of: src/WinSentinel.Agent/**, but not: tests/**, docs/**, *.md, *.ps1, src/WinSentinel.Installer/**, src/WinSentinel.App/obj/**, **/Migrations/**
