Repository sauravbhattacharya001/WinSentinel: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Library, CLI, Agent

feat: add Audit Notes — persistent finding annotations
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Models/AuditNoteModels.cs
  src/WinSentinel.Core/Services/AuditNoteService.cs
  tests/WinSentinel.Tests/Services/AuditNoteServiceTests.cs
Due: unittests, Core Library, CLI

feat: security digest generator — newsletter-style scan summaries with health pulse, trends, and action items
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/SecurityDigestGenerator.cs
  tests/WinSentinel.Tests/Services/SecurityDigestGeneratorTests.cs
Due: unittests, Core Library, CLI

feat: finding search — search audit history findings by keyword, severity, module, and date range
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Models/HistoryModels.cs
  src/WinSentinel.Core/Services/AuditHistoryService.cs
Due: unittests, Core Library, CLI

security_fix + doc_update: sanitize all shell command inputs in monitor modules
  docs/INPUT-VALIDATION.md
  src/WinSentinel.Agent/Modules/EventLogMonitorModule.cs
  src/WinSentinel.Agent/Modules/NetworkMonitorModule.cs
Due: unittests, Agent

security_fix + doc_update: sanitize all shell command inputs in monitor modules (#67)
  docs/INPUT-VALIDATION.md
  src/WinSentinel.Agent/Modules/EventLogMonitorModule.cs
  src/WinSentinel.Agent/Modules/NetworkMonitorModule.cs
Due: unittests, Agent

feat: add --module-info command to list all audit modules
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
  tests/WinSentinel.Tests/Cli/CliParserTests.cs
Due: unittests, CLI

fix: correct RFC 1918 private IP range check in DnsAudit
  src/WinSentinel.Core/Audits/DnsAudit.cs
Due: unittests, Core Library

feat: add --chart command for ASCII score history visualization
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
  tests/WinSentinel.Tests/Cli/CliParserTests.cs
Due: unittests, CLI

fix: replace 102 empty catch blocks with diagnostic logging
  src/WinSentinel.Agent/AgentService.cs
  src/WinSentinel.Agent/Modules/ClipboardMonitorModule.cs
  src/WinSentinel.Agent/Modules/EventLogMonitorModule.cs
  src/WinSentinel.Agent/Modules/NetworkMonitorModule.cs
  src/WinSentinel.Agent/Modules/ProcessMonitorModule.cs
  src/WinSentinel.Agent/Services/AutoRemediator.cs
  src/WinSentinel.Agent/Services/IpcServer.cs
  src/WinSentinel.Agent/Services/ScheduledAuditModule.cs
  src/WinSentinel.App/Services/AgentConnectionService.cs
  src/WinSentinel.App/Services/TrayIconService.cs
  src/WinSentinel.App/Views/DashboardPage.xaml.cs
  src/WinSentinel.Core/Audits/AppSecurityAudit.cs
  src/WinSentinel.Core/Audits/BackupAudit.cs
  src/WinSentinel.Core/Audits/BrowserAudit.cs
  src/WinSentinel.Core/Audits/DriverAudit.cs
  src/WinSentinel.Core/Audits/EncryptionAudit.cs
  src/WinSentinel.Core/Audits/EventLogAudit.cs
  src/WinSentinel.Core/Audits/GroupPolicyAudit.cs
  src/WinSentinel.Core/Audits/ScheduledTaskAudit.cs
  src/WinSentinel.Core/Audits/ServiceAudit.cs
  src/WinSentinel.Core/Audits/UpdateAudit.cs
  src/WinSentinel.Core/Audits/VirtualizationAudit.cs
  src/WinSentinel.Core/Helpers/RegistryHelper.cs
  src/WinSentinel.Core/Services/IpcClient.cs
  tests/WinSentinel.Tests/Agent/AgentBrainTests.cs
  tests/WinSentinel.Tests/Agent/AgentJournalTests.cs
  tests/WinSentinel.Tests/Agent/ChatHandlerTests.cs
  tests/WinSentinel.Tests/Services/AuditEngineTests.cs
  tests/WinSentinel.Tests/Services/AuditHistoryServiceTests.cs
  tests/WinSentinel.Tests/Services/BaselineServiceTests.cs
  tests/WinSentinel.Tests/Services/HtmlDashboardGeneratorTests.cs
  tests/WinSentinel.Tests/Services/IgnoreRuleServiceTests.cs
Due: unittests, Core Library, Agent

feat: SLA Tracker — remediation deadline tracking with compliance reporting
  src/WinSentinel.Core/Services/SlaTracker.cs
  tests/WinSentinel.Tests/SlaTrackerTests.cs
Due: unittests, Core Library

feat: SLA Tracker — remediation deadline tracking with compliance reporting (#72)
  src/WinSentinel.Core/Services/SlaTracker.cs
  tests/WinSentinel.Tests/SlaTrackerTests.cs
Due: unittests, Core Library

feat: Finding Tag Manager — custom labels, annotations, and search for security findings
  src/WinSentinel.Core/Services/FindingTagManager.cs
  tests/WinSentinel.Tests/FindingTagManagerTests.cs
Due: unittests, Core Library

feat: Finding Tag Manager — custom labels, annotations, and search for security findings (#73)
  src/WinSentinel.Core/Services/FindingTagManager.cs
  tests/WinSentinel.Tests/FindingTagManagerTests.cs
Due: unittests, Core Library

fix: replace 82 empty catch blocks with proper error handling
  src/WinSentinel.Agent/Modules/EventLogMonitorModule.cs
  src/WinSentinel.Agent/Modules/NetworkMonitorModule.cs
  src/WinSentinel.Agent/Modules/ProcessMonitorModule.cs
  src/WinSentinel.Agent/Services/AutoRemediator.cs
  src/WinSentinel.App/Services/TrayIconService.cs
  src/WinSentinel.App/Views/DashboardPage.xaml.cs
  src/WinSentinel.Core/Audits/AppSecurityAudit.cs
  src/WinSentinel.Core/Audits/BackupAudit.cs
  src/WinSentinel.Core/Audits/BrowserAudit.cs
  src/WinSentinel.Core/Audits/DriverAudit.cs
  src/WinSentinel.Core/Audits/EncryptionAudit.cs
  src/WinSentinel.Core/Audits/EventLogAudit.cs
  src/WinSentinel.Core/Audits/GroupPolicyAudit.cs
  src/WinSentinel.Core/Audits/ScheduledTaskAudit.cs
  src/WinSentinel.Core/Audits/ServiceAudit.cs
  src/WinSentinel.Core/Audits/UpdateAudit.cs
  src/WinSentinel.Core/Audits/VirtualizationAudit.cs
  src/WinSentinel.Core/Helpers/RegistryHelper.cs
Due: unittests, Core Library, Agent

fix: double-escaping of single quotes in toast notifications
  src/WinSentinel.Core/Services/NotificationService.cs
Due: unittests, Core Library

fix: double-escaping of single quotes in toast notifications (#75)
  src/WinSentinel.Core/Services/NotificationService.cs
Due: unittests, Core Library

feat: add Finding Notes Service for investigation tracking
  src/WinSentinel.Core/Models/FindingNoteModels.cs
  src/WinSentinel.Core/Services/FindingNoteService.cs
  tests/WinSentinel.Tests/Services/FindingNoteServiceTests.cs
Due: unittests, Core Library

perf: optimize TrendAnalyzer — eliminate redundant sorts and multi-pass scans
  src/WinSentinel.Core/Services/TrendAnalyzer.cs
Due: unittests, Core Library

perf: optimize TrendAnalyzer — eliminate redundant sorts and multi-pass scans (#78)
  src/WinSentinel.Core/Services/TrendAnalyzer.cs
Due: unittests, Core Library

security: harden CheckDangerousCommand against 10 bypass vectors
  src/WinSentinel.Core/Helpers/InputSanitizer.cs
Due: unittests, Core Library

security: harden CheckDangerousCommand against 10 bypass vectors (#79)
  src/WinSentinel.Core/Helpers/InputSanitizer.cs
Due: unittests, Core Library

fix: normalize timestamps to UTC and use InvariantCulture for parsing
  src/WinSentinel.Core/Services/AuditHistoryService.cs
Due: unittests, Core Library

perf: optimize IncidentResponsePlaybook scoring and phase lookups
  src/WinSentinel.Core/Services/IncidentResponsePlaybook.cs
Due: unittests, Core Library

perf: optimize IncidentResponsePlaybook scoring and phase lookups (#81)
  src/WinSentinel.Core/Services/IncidentResponsePlaybook.cs
Due: unittests, Core Library

fix: normalize AuditHistoryService timestamps to UTC
  src/WinSentinel.Core/Services/AuditHistoryService.cs
Due: unittests, Core Library

fix: normalize timestamps to UTC in AuditHistoryService
  src/WinSentinel.Core/Services/AuditHistoryService.cs
Due: unittests, Core Library

refactor: extract TryConsumeArg/TryConsumeInt helpers in CliParser
  src/WinSentinel.Cli/CliParser.cs
Due: unittests, CLI

refactor: extract TryConsumeArg/TryConsumeInt helpers in CliParser (#85)
  src/WinSentinel.Cli/CliParser.cs
Due: unittests, CLI

feat: Maintenance Window Manager -- scheduled finding suppression for planned maintenance
  src/WinSentinel.Core/Services/MaintenanceWindowManager.cs
  tests/WinSentinel.Tests/Services/MaintenanceWindowManagerTests.cs
Due: unittests, Core Library

feat: SecurityChangelogService -- versioned chronological changelog of security posture changes
  src/WinSentinel.Core/Services/SecurityChangelogService.cs
  tests/WinSentinel.Tests/Services/SecurityChangelogServiceTests.cs
Due: unittests, Core Library

fix(security): CSV formula injection in ReportGenerator.CsvEscape (CWE-1236)
  src/WinSentinel.Core/Services/ReportGenerator.cs
  tests/WinSentinel.Tests/Services/CsvReportTests.cs
Due: unittests, Core Library

fix(security): CSV formula injection in ReportGenerator.CsvEscape (CWE-1236) (#86)
  src/WinSentinel.Core/Services/ReportGenerator.cs
  tests/WinSentinel.Tests/Services/CsvReportTests.cs
Due: unittests, Core Library

refactor: extract WriteHelpEntry() helper in ConsoleFormatter (-132 lines)
  src/WinSentinel.Cli/ConsoleFormatter.cs
Due: unittests, CLI

refactor: extract WriteHelpEntry() helper in ConsoleFormatter (-132 lines) (#87)
  src/WinSentinel.Cli/ConsoleFormatter.cs
Due: unittests, CLI

feat: SecurityMetricsService -- operational security KPIs
  src/WinSentinel.Core/Audits/BackupAudit.cs
  src/WinSentinel.Core/Audits/UpdateAudit.cs
  src/WinSentinel.Core/Services/SecurityMetricsService.cs
  tests/WinSentinel.Tests/SecurityMetricsServiceTests.cs
Due: unittests, Core Library

Path conditions:
  unittests: any of: src/, but not: tests/**, docs/**, *.md, *.ps1, src/WinSentinel.Installer/**, src/WinSentinel.App/obj/**, **/Migrations/**
  Core Library: any of: src/WinSentinel.Core/**, but not: tests/**, docs/**, *.md, *.ps1, src/WinSentinel.Installer/**, src/WinSentinel.App/obj/**, **/Migrations/**
  CLI: any of: src/WinSentinel.Cli/**, but not: tests/**, docs/**, *.md, *.ps1, src/WinSentinel.Installer/**, src/WinSentinel.App/obj/**, **/Migrations/**
  Agent: any of: src/WinSentinel.Agent/**, but not: tests/**, docs/**, *.md, *.ps1, src/WinSentinel.Installer/**, src/WinSentinel.App/obj/**, **/Migrations/**
