Repository sauravbhattacharya001/WinSentinel: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Library, CLI, Agent

feat(cli): add --status command — quick security posture dashboard
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
Due: unittests, CLI

fix: replace unbounded ConcurrentBag with bounded List in AutoRemediator
  src/WinSentinel.Agent/Services/AutoRemediator.cs
Due: unittests, Agent

fix: bound AutoRemediator in-memory history and eliminate O(n log n) GetRecent
  src/WinSentinel.Agent/Services/AutoRemediator.cs
Due: unittests, Agent

feat: add --harden command - generates reviewable PowerShell hardening script
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/HardenScriptGenerator.cs
Due: unittests, Core Library, CLI

feat: add Security Policy as Code (--policy export/import/validate/diff)
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/PolicyManager.cs
  tests/WinSentinel.Tests/PolicyManagerTests.cs
Due: unittests, Core Library, CLI

feat: add Exemption Review dashboard for ignore rule hygiene
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/ExemptionReviewService.cs
  tests/WinSentinel.Tests/ExemptionReviewServiceTests.cs
Due: unittests, Core Library, CLI

feat: add --digest command for executive security summary
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/SecurityDigestService.cs
  tests/WinSentinel.Tests/SecurityDigestServiceTests.cs
Due: unittests, Core Library, CLI

feat: add ScoreForecaster — predict future security scores
  src/WinSentinel.Core/Services/ScoreForecaster.cs
  tests/WinSentinel.Tests/Services/ScoreForecasterTests.cs
Due: unittests, Core Library

perf: cache normalized strings and n-gram sets in FindingDeduplicator
  src/WinSentinel.Core/Services/FindingDeduplicator.cs
Due: unittests, Core Library

code_cleanup: extract WriteColored/WriteLineColored helpers in ConsoleFormatter
  src/WinSentinel.Cli/ConsoleFormatter.cs
Due: unittests, CLI

feat: add --surface CLI command for attack surface analysis
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
Due: unittests, CLI

feat: add ComplianceMapper — regulatory compliance control mapping
  src/WinSentinel.Core/Services/ComplianceMapper.cs
  tests/WinSentinel.Tests/ComplianceMapperTests.cs
Due: unittests, Core Library

fix: require distinct findings per correlation pattern
  src/WinSentinel.Core/Services/FindingCorrelator.cs
  tests/WinSentinel.Tests/Services/FindingCorrelatorTests.cs
Due: unittests, Core Library

feat: add RemediationBatchAnalyzer for batch fix optimization
  src/WinSentinel.Core/Services/RemediationBatchAnalyzer.cs
  tests/WinSentinel.Tests/Services/RemediationBatchAnalyzerTests.cs
Due: unittests, Core Library

security: harden CheckDangerousCommand with LOLBin, AMSI bypass, and persistence detection
  src/WinSentinel.Core/Helpers/InputSanitizer.cs
  tests/WinSentinel.Tests/InputSanitizerTests.cs
Due: unittests, Core Library

security: harden CheckDangerousCommand with LOLBin, AMSI bypass, and persistence detection (#47)
  src/WinSentinel.Core/Helpers/InputSanitizer.cs
  tests/WinSentinel.Tests/InputSanitizerTests.cs
Due: unittests, Core Library

feat: add SecurityChangelogService with CLI --changelog command
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Changelog.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/SecurityChangelogService.cs
  tests/WinSentinel.Tests/InputSanitizerTests.cs
  tests/WinSentinel.Tests/Services/SecurityChangelogServiceTests.cs
Due: unittests, Core Library, CLI

code_coverage: enforce coverage thresholds and HTML report generation
  .github/workflows/ci.yml
  tests/WinSentinel.Tests/WinSentinel.Tests.csproj
Due: none

fix: deduplicate malicious IP alerts in NetworkMonitor
  src/WinSentinel.Agent/Modules/NetworkMonitorModule.cs
Due: unittests, Agent

feat: MitreAttackMapper -- maps findings to MITRE ATT&CK techniques/tactics
  src/WinSentinel.Core/Models/MitreAttackModels.cs
  src/WinSentinel.Core/Services/MitreAttackMapper.cs
  tests/WinSentinel.Tests/InputSanitizerTests.cs
  tests/WinSentinel.Tests/Services/MitreAttackMapperTests.cs
Due: unittests, Core Library

feat: add --benchmark CLI command for peer comparison
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Benchmark.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
  tests/WinSentinel.Tests/Cli/CliParserTests.cs
Due: unittests, CLI

feat: SecurityQuiz -- interactive quiz from audit findings (8 question types, difficulty/category filtering, scoring with grades, JSON export, CLI --quiz command, 41 tests)
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Quiz.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/SecurityQuizService.cs
  tests/WinSentinel.Tests/Services/SecurityQuizServiceTests.cs
Due: unittests, Core Library, CLI

fix: deduplicate Tor and suspicious port alerts in NetworkMonitorModule
  src/WinSentinel.Agent/Modules/NetworkMonitorModule.cs
Due: unittests, Agent

refactor: extract AuditModuleBase to eliminate boilerplate in audit modules
  src/WinSentinel.Core/Audits/AccountAudit.cs
  src/WinSentinel.Core/Audits/AuditModuleBase.cs
  src/WinSentinel.Core/Audits/DefenderAudit.cs
  src/WinSentinel.Core/Audits/FirewallAudit.cs
  src/WinSentinel.Core/Audits/ProcessAudit.cs
  src/WinSentinel.Core/Audits/StartupAudit.cs
  src/WinSentinel.Core/Audits/UpdateAudit.cs
Due: unittests, Core Library

refactor: extract AuditModuleBase to eliminate boilerplate in audit modules (#50)
  src/WinSentinel.Core/Audits/AccountAudit.cs
  src/WinSentinel.Core/Audits/AuditModuleBase.cs
  src/WinSentinel.Core/Audits/DefenderAudit.cs
  src/WinSentinel.Core/Audits/FirewallAudit.cs
  src/WinSentinel.Core/Audits/ProcessAudit.cs
  src/WinSentinel.Core/Audits/StartupAudit.cs
  src/WinSentinel.Core/Audits/UpdateAudit.cs
Due: unittests, Core Library

refactor: extract PolicyCommandHandler from Program.cs
  src/WinSentinel.Cli/PolicyCommandHandler.cs
  src/WinSentinel.Cli/Program.cs
Due: unittests, CLI

refactor: extract PolicyCommandHandler from Program.cs (#52)
  src/WinSentinel.Cli/PolicyCommandHandler.cs
  src/WinSentinel.Cli/Program.cs
Due: unittests, CLI

feat: RootCauseAnalyzer -- clusters findings by underlying root cause
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.RootCause.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/RootCauseAnalyzer.cs
  tests/WinSentinel.Tests/Services/RootCauseAnalyzerTests.cs
Due: unittests, Core Library, CLI

feat: add STRIDE-based Threat Model Service
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Threats.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/ThreatModelService.cs
  tests/WinSentinel.Tests/Services/ThreatModelServiceTests.cs
Due: unittests, Core Library, CLI

feat: add STRIDE-based Threat Model Service (#56)
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Threats.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/ThreatModelService.cs
  tests/WinSentinel.Tests/Services/ThreatModelServiceTests.cs
Due: unittests, Core Library, CLI

fix: InputSanitizer recursive delete check missed Remove-Item without trailing slash
  src/WinSentinel.Core/Helpers/InputSanitizer.cs
  tests/WinSentinel.Tests/InputSanitizerTests.cs
Due: unittests, Core Library

cleanup: extract shared ThreatRateLimiter from 4 monitor modules
  src/WinSentinel.Agent/Modules/EventLogMonitorModule.cs
  src/WinSentinel.Agent/Modules/FileSystemMonitorModule.cs
  src/WinSentinel.Agent/Modules/NetworkMonitorModule.cs
  src/WinSentinel.Agent/Modules/ProcessMonitorModule.cs
  src/WinSentinel.Agent/ThreatRateLimiter.cs
  tests/WinSentinel.Tests/Agent/ThreatRateLimiterTests.cs
Due: unittests, Agent

cleanup: extract shared ThreatRateLimiter from 4 monitor modules (#59)
  src/WinSentinel.Agent/Modules/EventLogMonitorModule.cs
  src/WinSentinel.Agent/Modules/FileSystemMonitorModule.cs
  src/WinSentinel.Agent/Modules/NetworkMonitorModule.cs
  src/WinSentinel.Agent/Modules/ProcessMonitorModule.cs
  src/WinSentinel.Agent/ThreatRateLimiter.cs
  tests/WinSentinel.Tests/Agent/ThreatRateLimiterTests.cs
Due: unittests, Agent

test: add 27 tests for ScoreForecaster
  tests/WinSentinel.Tests/Services/ScoreForecasterTests.cs
Due: none

feat: add FindingBurndownService with resolution velocity tracking and projections
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Burndown.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Models/BurndownModels.cs
  src/WinSentinel.Core/Services/FindingBurndownService.cs
  tests/WinSentinel.Tests/FindingBurndownServiceTests.cs
Due: unittests, Core Library, CLI

AuditScheduleOptimizer -- per-module scan frequency recommendations based on historical volatility analysis (28 tests)
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.ScheduleOptimize.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/AuditScheduleOptimizer.cs
  tests/WinSentinel.Tests/Services/AuditScheduleOptimizerTests.cs
Due: unittests, Core Library, CLI

fix: prevent IpcClient from firing Disconnected event twice
  src/WinSentinel.Core/Services/IpcClient.cs
Due: unittests, Core Library

feat: SecurityMetricsAggregator -- operational security KPIs (MTTR, MTTD, finding velocity, recurrence rate, severity trends, module health scores) with CLI --metrics command and 35 tests
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Metrics.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/SecurityMetricsAggregator.cs
  tests/WinSentinel.Tests/Services/SecurityMetricsAggregatorTests.cs
Due: unittests, Core Library, CLI

fix: cancel delayed clipboard auto-clear on module shutdown
  src/WinSentinel.Agent/Modules/ClipboardMonitorModule.cs
Due: unittests, Agent

feat: add webhook notification service for Slack, Discord, Teams, and generic HTTP
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/WebhookNotificationService.cs
  tests/WinSentinel.Tests/Services/WebhookNotificationServiceTests.cs
Due: unittests, Core Library, CLI

Path conditions:
  unittests: any of: src/, but not: tests/**, docs/**, *.md, *.ps1, src/WinSentinel.Installer/**, src/WinSentinel.App/obj/**, **/Migrations/**
  Core Library: any of: src/WinSentinel.Core/**, but not: tests/**, docs/**, *.md, *.ps1, src/WinSentinel.Installer/**, src/WinSentinel.App/obj/**, **/Migrations/**
  CLI: any of: src/WinSentinel.Cli/**, but not: tests/**, docs/**, *.md, *.ps1, src/WinSentinel.Installer/**, src/WinSentinel.App/obj/**, **/Migrations/**
  Agent: any of: src/WinSentinel.Agent/**, but not: tests/**, docs/**, *.md, *.ps1, src/WinSentinel.Installer/**, src/WinSentinel.App/obj/**, **/Migrations/**
