Repository sauravbhattacharya001/WinSentinel: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Library, CLI, Agent

perf: parallelize event log audit checks with Task.WhenAll
  src/WinSentinel.Core/Audits/EventLogAudit.cs
Due: unittests, Core Library

feat(cli): add --attack-surface command for attack surface analysis
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.AttackSurface.cs
  src/WinSentinel.Cli/Program.cs
Due: unittests, CLI

refactor: extract ChatHandler commands into dedicated classes (Command Pattern)
  src/WinSentinel.Agent/Services/ChatHandler.cs
  src/WinSentinel.Agent/Services/Commands/BlockIpCommand.cs
  src/WinSentinel.Agent/Services/Commands/ChatCommandBase.cs
  src/WinSentinel.Agent/Services/Commands/ChatContext.cs
  src/WinSentinel.Agent/Services/Commands/CommandRouter.cs
  src/WinSentinel.Agent/Services/Commands/ExplainActionCommand.cs
  src/WinSentinel.Agent/Services/Commands/ExportCommand.cs
  src/WinSentinel.Agent/Services/Commands/FallbackCommand.cs
  src/WinSentinel.Agent/Services/Commands/FixCommand.cs
  src/WinSentinel.Agent/Services/Commands/HelpCommand.cs
  src/WinSentinel.Agent/Services/Commands/HistoryCommand.cs
  src/WinSentinel.Agent/Services/Commands/IChatCommand.cs
  src/WinSentinel.Agent/Services/Commands/IgnoreCommand.cs
  src/WinSentinel.Agent/Services/Commands/KillProcessCommand.cs
  src/WinSentinel.Agent/Services/Commands/MonitoringToggleCommand.cs
  src/WinSentinel.Agent/Services/Commands/MonitorsCommand.cs
  src/WinSentinel.Agent/Services/Commands/PolicyCommand.cs
  src/WinSentinel.Agent/Services/Commands/QuarantineCommand.cs
  src/WinSentinel.Agent/Services/Commands/ScanCommand.cs
  src/WinSentinel.Agent/Services/Commands/SetRiskCommand.cs
  src/WinSentinel.Agent/Services/Commands/StatusCommand.cs
  src/WinSentinel.Agent/Services/Commands/ThreatsCommand.cs
  src/WinSentinel.Agent/Services/Commands/TodaySummaryCommand.cs
  src/WinSentinel.Agent/Services/Commands/UndoCommand.cs
  src/WinSentinel.Agent/Services/Commands/WhileAwayCommand.cs
Due: unittests, Agent

refactor: extract ChatHandler commands into Command Pattern pipeline
  src/WinSentinel.Agent/Services/ChatHandler.cs
  src/WinSentinel.Agent/Services/Commands/ActionCommands.cs
  src/WinSentinel.Agent/Services/Commands/ChatCommandBase.cs
  src/WinSentinel.Agent/Services/Commands/ChatContext.cs
  src/WinSentinel.Agent/Services/Commands/CommandRouter.cs
  src/WinSentinel.Agent/Services/Commands/FallbackCommand.cs
  src/WinSentinel.Agent/Services/Commands/FixCommand.cs
  src/WinSentinel.Agent/Services/Commands/HelpCommand.cs
  src/WinSentinel.Agent/Services/Commands/IChatCommand.cs
  src/WinSentinel.Agent/Services/Commands/InfoCommands.cs
  src/WinSentinel.Agent/Services/Commands/MonitorsCommand.cs
  src/WinSentinel.Agent/Services/Commands/ScanCommand.cs
  src/WinSentinel.Agent/Services/Commands/SettingsCommands.cs
  src/WinSentinel.Agent/Services/Commands/StatusCommand.cs
  src/WinSentinel.Agent/Services/Commands/ThreatsCommand.cs
Due: unittests, Agent

feat: add --quick command for rapid critical-only health checks
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/Program.cs
Due: unittests, CLI

feat(cli): add --playbook command for incident response plans
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Playbook.cs
  src/WinSentinel.Cli/Program.cs
Due: unittests, CLI

fix: add missing using for Severity enum in Agent commands; add GamificationService tests
  src/WinSentinel.Agent/Services/Commands/FixCommand.cs
  src/WinSentinel.Agent/Services/Commands/ScanCommand.cs
  tests/WinSentinel.Tests/Services/GamificationServiceTests.cs
Due: unittests, Agent

feat: add Security Habit Tracker CLI command (--habits)
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Habits.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/SecurityHabitTracker.cs
Due: unittests, Core Library, CLI

security: add detection for 11 additional LOLBin attack vectors
  src/WinSentinel.Core/Helpers/InputSanitizer.cs
Due: unittests, Core Library

feat: add grep CLI command for regex finding search
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Grep.cs
  src/WinSentinel.Cli/Program.cs
Due: unittests, CLI

feat: add Finding Dependency Graph CLI command (--depgraph)
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.DepGraph.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Models/DependencyGraphModels.cs
  src/WinSentinel.Core/Services/FindingDependencyAnalyzer.cs
  tests/WinSentinel.Tests/FindingDependencyAnalyzerTests.cs
Due: unittests, Core Library, CLI

Remove duplicated severity guard in CheckRapidMultiModule
  src/WinSentinel.Agent/Services/ThreatCorrelator.cs
Due: unittests, Agent

feat(cli): add triage command for prioritized finding queue
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Triage.cs
  src/WinSentinel.Cli/Program.cs
Due: unittests, CLI

refactor: extract shared SignatureHelper for Authenticode verification
  src/WinSentinel.Agent/Modules/NetworkMonitorModule.cs
  src/WinSentinel.Agent/Modules/ProcessMonitorModule.cs
  src/WinSentinel.Core/Helpers/SignatureHelper.cs
Due: unittests, Core Library, Agent

feat(cli): add --cookbook command for remediation cookbook
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Cookbook.cs
  src/WinSentinel.Cli/CookbookModels.cs
  src/WinSentinel.Cli/Program.cs
Due: unittests, CLI

feat: add --cluster CLI command for grouping similar findings
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Cluster.cs
  src/WinSentinel.Cli/FindingCluster.cs
  src/WinSentinel.Cli/Program.cs
Due: unittests, CLI

Add comprehensive tests for Agent chat command subsystem
  tests/WinSentinel.Tests/Agent/Commands/CommandRouterTests.cs
  tests/WinSentinel.Tests/Agent/Commands/FallbackCommandTests.cs
  tests/WinSentinel.Tests/Agent/Commands/HelpCommandTests.cs
  tests/WinSentinel.Tests/Agent/Commands/MonitorsCommandTests.cs
  tests/WinSentinel.Tests/Agent/Commands/StatusCommandTests.cs
  tests/WinSentinel.Tests/Agent/Commands/ThreatsCommandTests.cs
Due: none

feat(cli): add --peers command for peer benchmark comparison
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Peers.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
Due: unittests, CLI

docs: add XML doc comments to FindingNoteService
  src/WinSentinel.Core/Services/FindingNoteService.cs
Due: unittests, Core Library

refactor: extract IgnoreCommandHandler and OutputHelper from Program.cs
  src/WinSentinel.Cli/IgnoreCommandHandler.cs
  src/WinSentinel.Cli/OutputHelper.cs
  src/WinSentinel.Cli/Program.cs
Due: unittests, CLI

perf: use precomputed n-gram data for group similarity in FindingDeduplicator
  src/WinSentinel.Core/Services/FindingDeduplicator.cs
Due: unittests, Core Library

security: fix predictable temp file names in FixEngine elevated execution
  src/WinSentinel.Core/Services/FixEngine.cs
Due: unittests, Core Library

feat: add doctor command for self-diagnostics
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
Due: unittests, CLI

feat(cli): add --forecast command for security score predictions
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Forecast.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
Due: unittests, CLI

feat(cli): add Report Card command (--reportcard)
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.ReportCard.cs
  src/WinSentinel.Cli/Program.cs
Due: unittests, CLI

feat(cli): add --burndown command — ASCII burndown chart of findings over time
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Burndown.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
Due: unittests, CLI

security: validate paths in UndoQuarantine to prevent arbitrary file write
  src/WinSentinel.Agent/Services/AutoRemediator.cs
Due: unittests, Agent

fix: nuget workflow — downgrade checkout@v6→v4, upload-artifact@v7→v4 (non-existent versions)
  .github/workflows/nuget.yml
Due: none

fix: nuget workflow — remove secrets ref from if condition, setup-dotnet v5→v4
  .github/workflows/nuget.yml
Due: none

fix: CLI TargetFramework net8.0-windows → net8.0 (PackAsTool requirement)
  src/WinSentinel.Cli/WinSentinel.Cli.csproj
Due: unittests, CLI

fix: Core multi-target net8.0+net8.0-windows for CLI PackAsTool compatibility
  src/WinSentinel.Core/WinSentinel.Core.csproj
Due: unittests, Core Library

fix: nuget push glob — use PowerShell Get-ChildItem instead of shell glob
  .github/workflows/nuget.yml
Due: none

test: add comprehensive tests for ClipboardMonitorModule.AnalyzeText
  tests/WinSentinel.Tests/Agent/ClipboardMonitorModuleTests.cs
Due: none

feat(cli): add --changelog command for security posture drift tracking
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Changelog.cs
  src/WinSentinel.Cli/Program.cs
Due: unittests, CLI

feat(cli): add --pulse command — ASCII EKG security heartbeat visualization
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Pulse.cs
  src/WinSentinel.Cli/Program.cs
Due: unittests, CLI

feat(cli): add Security Calendar command (--calendar)
  src/WinSentinel.Cli/CalendarEvent.cs
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Calendar.cs
  src/WinSentinel.Cli/Program.cs
Due: unittests, CLI

Add CODE_OF_CONDUCT.md (Contributor Covenant v2.1)
  CODE_OF_CONDUCT.md
Due: none

docs: add XML docstrings to CalendarEvent, CookbookModels, and FindingCluster
  src/WinSentinel.Cli/CalendarEvent.cs
  src/WinSentinel.Cli/CookbookModels.cs
  src/WinSentinel.Cli/FindingCluster.cs
Due: unittests, CLI

feat: Security Debt Calculator CLI command (--debt)
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Debt.cs
  src/WinSentinel.Cli/Program.cs
Due: unittests, CLI

fix: cache JsonSerializerOptions in IpcResponse.GetPayload<T>
  src/WinSentinel.Core/Services/IpcClient.cs
Due: unittests, Core Library

Path conditions:
  unittests: any of: src/, but not: tests/**, docs/**, *.md, *.ps1, src/WinSentinel.Installer/**, src/WinSentinel.App/obj/**, **/Migrations/**
  Core Library: any of: src/WinSentinel.Core/**, but not: tests/**, docs/**, *.md, *.ps1, src/WinSentinel.Installer/**, src/WinSentinel.App/obj/**, **/Migrations/**
  CLI: any of: src/WinSentinel.Cli/**, but not: tests/**, docs/**, *.md, *.ps1, src/WinSentinel.Installer/**, src/WinSentinel.App/obj/**, **/Migrations/**
  Agent: any of: src/WinSentinel.Agent/**, but not: tests/**, docs/**, *.md, *.ps1, src/WinSentinel.Installer/**, src/WinSentinel.App/obj/**, **/Migrations/**
