Repository sauravbhattacharya001/WinSentinel: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Library, CLI, Agent

fix(tests): stabilize AuditEngine module count + heatmap date boundary
  tests/WinSentinel.Tests/Services/AuditEngineTests.cs
  tests/WinSentinel.Tests/Services/CalendarHeatmapServiceTests.cs
Due: none

fix(tests): fix heatmap DateTimeOffset UTC construction
  tests/WinSentinel.Tests/Services/CalendarHeatmapServiceTests.cs
Due: none

docs: wire documentation site to docs.winsentinel.ai custom domain
  .github/workflows/pages.yml
  docfx/CNAME
  docfx/docfx.json
  docfx/index.md
Due: none

fix(tests): remove coverlet.msbuild, use collector-only coverage
  .github/workflows/ci.yml
  .github/workflows/coverage-gate.yml
  tests/WinSentinel.Tests/WinSentinel.Tests.csproj
  tests/WinSentinel.Tests/coverlet.runsettings
Due: none

docs: modernize README for v1.19 (34 modules, 5376 tests, 111k LOC)
  README.md
Due: none

docs: add missing audit modules to documentation (30 -> 33)
  docfx/articles/audit-modules.md
Due: none

Add IdentityCredentialAudit test suite (22 tests)
  tests/WinSentinel.Tests/Audits/IdentityCredentialAuditTests.cs
Due: none

Expand AccountAudit test suite: 7 â†’ 34 tests
  tests/WinSentinel.Tests/Audits/AccountAuditTests.cs
Due: none

Expand NetworkAuditTests from 14 to 30 comprehensive tests
  tests/WinSentinel.Tests/Audits/NetworkAuditTests.cs
Due: none

Add ThreatHuntService test suite (37 tests)
  tests/WinSentinel.Tests/Services/ThreatHuntServiceTests.cs
Due: none

test(services): add SecurityCanaryService test suite (51 tests)
  tests/WinSentinel.Tests/Services/SecurityCanaryServiceTests.cs
Due: none

Add SecurityProphecyService tests + fix GetHistory bug
  src/WinSentinel.Core/Services/SecurityProphecyService.cs
  tests/WinSentinel.Tests/Services/SecurityProphecyServiceTests.cs
Due: unittests, Core Library

Add comprehensive MaturityAssessmentService tests (94 tests)
  tests/WinSentinel.Tests/Services/MaturityAssessmentServiceTests.cs
Due: none

Add AgentService orchestrator test suite (40 tests)
  tests/WinSentinel.Tests/Agent/AgentServiceTests.cs
Due: none

Add SecurityKpiService tests (56 tests)
  tests/WinSentinel.Tests/Services/SecurityKpiServiceTests.cs
Due: none

Add comprehensive tests for SecurityFlightRecorderService (49 tests)
  tests/WinSentinel.Tests/Services/SecurityFlightRecorderServiceTests.cs
Due: none

Add 71 unit tests for KillChainReconstructorService
  tests/WinSentinel.Tests/Services/KillChainReconstructorServiceTests.cs
Due: none

Add SecurityAutopsyService tests + fix GetHistory bug
  src/WinSentinel.Core/Services/SecurityAutopsyService.cs
  tests/WinSentinel.Tests/Services/SecurityAutopsyServiceTests.cs
Due: unittests, Core Library

Add SecurityMentorService test suite (41 tests)
  tests/WinSentinel.Tests/Services/SecurityMentorServiceTests.cs
Due: none

feat(cli): implement badge command handler (F13)
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/Program.cs
Due: unittests, CLI

feat(cli): polish findings export with flag-style format & smart defaults (F11)
  README.md
  src/WinSentinel.Cli/ExportCommandHelpers.cs
  src/WinSentinel.Cli/Program.cs
  tests/WinSentinel.Tests/Cli/ExportCliParserTests.cs
  tests/WinSentinel.Tests/Cli/ExportCommandHelpersTests.cs
Due: unittests, CLI

refactor(cli): extract WatchDeltaCalculator + 19 unit tests for winsentinel watch
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Cli/Watch/WatchDeltaCalculator.cs
  tests/WinSentinel.Tests/Cli/WatchDeltaCalculatorTests.cs
Due: unittests, CLI

refactor(cli): extract FleetRequestBuilder + 38 unit tests for fleet commands
  src/WinSentinel.Cli/FleetCommandHandler.cs
  src/WinSentinel.Cli/FleetRequestBuilder.cs
  tests/WinSentinel.Tests/Cli/FleetRequestBuilderTests.cs
Due: unittests, CLI

refactor(audits): extract ProcessLineageAnalyzer + 70 unit tests
  src/WinSentinel.Core/Audits/ProcessLineageAnalyzer.cs
  src/WinSentinel.Core/Audits/ProcessLineageAudit.cs
  tests/WinSentinel.Tests/Audits/ProcessLineageAnalyzerTests.cs
  tests/WinSentinel.Tests/Audits/ProcessLineageFindingTests.cs
Due: unittests, Core Library

refactor(audits): extract EventLogAnalyzer + 120 unit tests
  src/WinSentinel.Core/Audits/EventLogAnalyzer.cs
  src/WinSentinel.Core/Audits/EventLogAudit.cs
  tests/WinSentinel.Tests/Audits/EventLogAnalyzerTests.cs
Due: unittests, Core Library

refactor(core): extract pure IdentityCredentialAnalyzer + 57 unit tests (Day 20)
  src/WinSentinel.Core/Audits/IdentityCredentialAnalyzer.cs
  src/WinSentinel.Core/Audits/IdentityCredentialAudit.cs
  tests/WinSentinel.Tests/Audits/IdentityCredentialAnalyzerTests.cs
Due: unittests, Core Library

Extract pure EncryptionAnalyzer from EncryptionAudit + 99 unit tests (Day 20)
  src/WinSentinel.Core/Audits/EncryptionAnalyzer.cs
  src/WinSentinel.Core/Audits/EncryptionAudit.cs
  tests/WinSentinel.Tests/Audits/EncryptionAnalyzerTests.cs
Due: unittests, Core Library

feat(cli): add `winsentinel fleet commands` dispatch-history view
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/FleetCommandHandler.cs
  src/WinSentinel.Cli/FleetRequestBuilder.cs
  tests/WinSentinel.Tests/Cli/FleetCliParserTests.cs
  tests/WinSentinel.Tests/Cli/FleetRequestBuilderTests.cs
Due: unittests, CLI

feat(compliance): add SOC 2 and Essential 8 framework mappings
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Core/Services/ComplianceMapper.cs
  tests/WinSentinel.Tests/ComplianceMapperTests.cs
Due: unittests, Core Library, CLI

Extract pure BrowserSecurityAnalyzer from BrowserAudit (+78 unit tests)
  src/WinSentinel.Core/Audits/BrowserAudit.cs
  src/WinSentinel.Core/Audits/BrowserSecurityAnalyzer.cs
  tests/WinSentinel.Tests/Audits/BrowserSecurityAnalyzerTests.cs
Due: unittests, Core Library

Extract pure PowerShellSecurityAnalyzer from PowerShellAudit (+analyzer unit tests)
  src/WinSentinel.Core/Audits/PowerShellAudit.cs
  src/WinSentinel.Core/Audits/PowerShellSecurityAnalyzer.cs
  tests/WinSentinel.Tests/Audits/PowerShellAuditTests.cs
  tests/WinSentinel.Tests/Audits/PowerShellSecurityAnalyzerTests.cs
Due: unittests, Core Library

Wire localization into severity labels + ship a proven es translation (F17)
  LOCALIZATION.md
  src/WinSentinel.Cli/Resources/CliStrings.es.resx
  src/WinSentinel.Core/Localization/L.cs
  src/WinSentinel.Core/Models/SeverityExtensions.cs
  src/WinSentinel.Core/Resources/Strings.es.resx
  tests/WinSentinel.Tests/Localization/LocalizationTests.cs
  tests/WinSentinel.Tests/Models/SeverityExtensionsTests.cs
Due: unittests, Core Library, CLI

Network Posture: extract pure NetworkPostureAnalyzer from NetworkAudit (F5)
  src/WinSentinel.Core/Audits/NetworkAudit.cs
  src/WinSentinel.Core/Audits/NetworkPostureAnalyzer.cs
  tests/WinSentinel.Tests/Audits/NetworkPostureAnalyzerTests.cs
Due: unittests, Core Library

Extract pure UsbAnalyzer from UsbAudit + 31 unit tests
  src/WinSentinel.Core/Audits/UsbAnalyzer.cs
  src/WinSentinel.Core/Audits/UsbAudit.cs
  tests/WinSentinel.Tests/Audits/UsbAnalyzerTests.cs
Due: unittests, Core Library

Extract pure DefenderAnalyzer from DefenderAudit
  src/WinSentinel.Core/Audits/DefenderAnalyzer.cs
  src/WinSentinel.Core/Audits/DefenderAudit.cs
  tests/WinSentinel.Tests/Audits/DefenderAnalyzerTests.cs
Due: unittests, Core Library

Fix CalendarHeatmapService local/UTC date-boundary bug; make window clock-injectable
  src/WinSentinel.Core/Services/CalendarHeatmapService.cs
  tests/WinSentinel.Tests/Services/CalendarHeatmapServiceTests.cs
Due: unittests, Core Library

Fix broken GitHub Action manifest: use real CLI surface for SARIF/JSON export
  README.md
  action.yml
  action/action.yml
  tests/WinSentinel.Tests/GitHubActionManifestTests.cs
Due: none

SlaTracker: fix per-severity MissedSla counting open 'approaching' findings as breached
  src/WinSentinel.Core/Services/SlaTracker.cs
  tests/WinSentinel.Tests/SlaTrackerTests.cs
Due: unittests, Core Library

SecurityCoverageService: match domain categories exactly, not by substring
  src/WinSentinel.Core/Services/SecurityCoverageService.cs
  tests/WinSentinel.Tests/Services/SecurityCoverageServiceTests.cs
Due: unittests, Core Library

ReportGenerator: fix CSV formula-injection bypass via leading whitespace in winsentinel export --csv
  src/WinSentinel.Core/Services/ReportGenerator.cs
  tests/WinSentinel.Tests/Services/CsvReportTests.cs
Due: unittests, Core Library

Path conditions:
  unittests: any of: src/, but not: tests/**, docs/**, *.md, *.ps1, src/WinSentinel.Installer/**, src/WinSentinel.App/obj/**, **/Migrations/**
  Core Library: any of: src/WinSentinel.Core/**, but not: tests/**, docs/**, *.md, *.ps1, src/WinSentinel.Installer/**, src/WinSentinel.App/obj/**, **/Migrations/**
  CLI: any of: src/WinSentinel.Cli/**, but not: tests/**, docs/**, *.md, *.ps1, src/WinSentinel.Installer/**, src/WinSentinel.App/obj/**, **/Migrations/**
  Agent: any of: src/WinSentinel.Agent/**, but not: tests/**, docs/**, *.md, *.ps1, src/WinSentinel.Installer/**, src/WinSentinel.App/obj/**, **/Migrations/**
