Repository sauravbhattacharya001/WinSentinel: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Library, CLI, Agent

Register 5 orphaned audit modules so they actually run
  src/WinSentinel.Core/Services/AuditEngine.cs
Due: unittests, Core Library

Register BackupAudit in AuditEngine so it runs in --audit
  src/WinSentinel.Core/Services/AuditEngine.cs
Due: unittests, Core Library

test: cover WindowsScriptHost and WindowsInstaller analyzers
  tests/WinSentinel.Tests/Audits/WindowsInstallerAnalyzerTests.cs
  tests/WinSentinel.Tests/Audits/WindowsScriptHostAnalyzerTests.cs
Due: none

test: add RegistryHelper unit tests (graceful-failure + real value reads)
  tests/WinSentinel.Tests/RegistryHelperTests.cs
Due: none

Identity audit: add Windows Hello for Business posture check
  src/WinSentinel.Core/Audits/IdentityCredentialAnalyzer.cs
  src/WinSentinel.Core/Audits/IdentityCredentialAudit.cs
  tests/WinSentinel.Tests/Audits/IdentityCredentialAnalyzerTests.cs
Due: unittests, Core Library

tests: cover SignatureHelper Authenticode graceful-failure contract
  tests/WinSentinel.Tests/SignatureHelperTests.cs
Due: none

NetworkAudit: flag exposed database/cache dev ports (PostgreSQL, MySQL, Redis, MongoDB, Elasticsearch, Memcached)
  src/WinSentinel.Core/Audits/NetworkPostureAnalyzer.cs
  tests/WinSentinel.Tests/Audits/NetworkPostureAnalyzerTests.cs
Due: unittests, Core Library

FirewallRuleAudit: wire deep per-rule firewall analysis into live --audit
  src/WinSentinel.Core/Audits/FirewallRuleAudit.cs
  src/WinSentinel.Core/Services/AuditEngine.cs
  tests/WinSentinel.Tests/Audits/FirewallRuleAuditTests.cs
Due: unittests, Core Library

PowerShellAudit: detect service-install/Run-key persistence + Enter-PSSession in profile scans
  src/WinSentinel.Core/Audits/PowerShellSecurityAnalyzer.cs
  tests/WinSentinel.Tests/Audits/PowerShellProfileTokensDay84Tests.cs
Due: unittests, Core Library

Add Hosts File Integrity audit module (single-machine, free)
  src/WinSentinel.Core/Audits/HostsFileAnalyzer.cs
  src/WinSentinel.Core/Audits/HostsFileAudit.cs
  src/WinSentinel.Core/Services/AuditEngine.cs
  tests/WinSentinel.Tests/Audits/HostsFileAnalyzerTests.cs
Due: unittests, Core Library

LSA audit: flag unrestricted outgoing NTLM (RestrictSendingNTLMTraffic)
  src/WinSentinel.Core/Audits/LsaHardeningAnalyzer.cs
  src/WinSentinel.Core/Audits/LsaHardeningAudit.cs
  tests/WinSentinel.Tests/Audits/LsaHardeningAnalyzerTests.cs
Due: unittests, Core Library

NetworkPosture: audit NetBIOS node type (P-node) to block broadcast NBT-NS poisoning
  src/WinSentinel.Core/Audits/NetworkAudit.cs
  src/WinSentinel.Core/Audits/NetworkPostureAnalyzer.cs
  tests/WinSentinel.Tests/Audits/NetworkAuditTests.cs
  tests/WinSentinel.Tests/Audits/NetworkPostureAnalyzerTests.cs
Due: unittests, Core Library

Add Defender Network Protection audit module (single-machine, free)
  src/WinSentinel.Core/Audits/NetworkProtectionAnalyzer.cs
  src/WinSentinel.Core/Audits/NetworkProtectionAudit.cs
  src/WinSentinel.Core/Services/AuditEngine.cs
  tests/WinSentinel.Tests/Audits/NetworkProtectionAnalyzerTests.cs
Due: unittests, Core Library

Add SmartScreen reputation audit module (single-machine)
  src/WinSentinel.Core/Audits/SmartScreenAnalyzer.cs
  src/WinSentinel.Core/Audits/SmartScreenAudit.cs
  src/WinSentinel.Core/Services/AuditEngine.cs
  tests/WinSentinel.Tests/Audits/SmartScreenAnalyzerTests.cs
Due: unittests, Core Library

Add Delivery Optimization audit module (single-machine DO peering posture)
  src/WinSentinel.Core/Audits/DeliveryOptimizationAnalyzer.cs
  src/WinSentinel.Core/Audits/DeliveryOptimizationAudit.cs
  src/WinSentinel.Core/Services/AuditEngine.cs
  tests/WinSentinel.Tests/Audits/DeliveryOptimizationAnalyzerTests.cs
Due: unittests, Core Library

LSA Hardening: audit inbound NTLM restriction (RestrictReceivingNTLMTraffic)
  src/WinSentinel.Core/Audits/LsaHardeningAnalyzer.cs
  src/WinSentinel.Core/Audits/LsaHardeningAudit.cs
  tests/WinSentinel.Tests/Audits/LsaHardeningAnalyzerTests.cs
Due: unittests, Core Library

Add Diagnostics Hardening audit module (MSDT / Follina surface)
  src/WinSentinel.Core/Audits/DiagnosticsHardeningAnalyzer.cs
  src/WinSentinel.Core/Audits/DiagnosticsHardeningAudit.cs
  src/WinSentinel.Core/Services/AuditEngine.cs
  tests/WinSentinel.Tests/Audits/DiagnosticsHardeningAnalyzerTests.cs
Due: unittests, Core Library

Add Optional Features audit: flag risky enabled Windows features (SMB1, PowerShell 2.0, Telnet, TFTP)
  src/WinSentinel.Core/Audits/OptionalFeaturesAnalyzer.cs
  src/WinSentinel.Core/Audits/OptionalFeaturesAudit.cs
  src/WinSentinel.Core/Services/AuditEngine.cs
  tests/WinSentinel.Tests/Audits/OptionalFeaturesAnalyzerTests.cs
Due: unittests, Core Library

Add Advanced Audit Policy audit module (Free/OSS)
  src/WinSentinel.Core/Audits/AuditPolicyAnalyzer.cs
  src/WinSentinel.Core/Audits/AuditPolicyAudit.cs
  src/WinSentinel.Core/Services/AuditEngine.cs
  tests/WinSentinel.Tests/Audits/AuditPolicyAnalyzerTests.cs
Due: unittests, Core Library

Add Name Resolution poisoning audit module (LLMNR/NBT-NS/mDNS/WPAD, Free/OSS)
  src/WinSentinel.Core/Audits/NameResolutionAnalyzer.cs
  src/WinSentinel.Core/Audits/NameResolutionAudit.cs
  src/WinSentinel.Core/Services/AuditEngine.cs
  tests/WinSentinel.Tests/Audits/NameResolutionAnalyzerTests.cs
Due: unittests, Core Library

Add Firewall Logging audit module (per-profile logging posture)
  src/WinSentinel.Core/Audits/FirewallLoggingAnalyzer.cs
  src/WinSentinel.Core/Audits/FirewallLoggingAudit.cs
  src/WinSentinel.Core/Services/AuditEngine.cs
  tests/WinSentinel.Tests/Audits/FirewallLoggingAnalyzerTests.cs
Due: unittests, Core Library

docs: sync audit module count to 53 across README (matches /modules site page)
  README.md
Due: none

fix view crash in threatfeedpages.xaml.cs
  src/WinSentinel.App/Views/ThreatFeedPage.xaml.cs
Due: unittests

fix(ui): guard ThreatFeedPage filter handlers against null VM during XAML init (#246)
  src/WinSentinel.App/Views/ThreatFeedPage.xaml.cs
Due: unittests

fix(ci): repair E2E smoke test - drop forced x64 platform and use real tool exe name
  .github/workflows/smoke.yml
Due: none

fix(ci): assert correct top-level JSON field (overallScore) in smoke test
  .github/workflows/smoke.yml
Due: none

fix(ci): stop merging CLI stderr into audit JSON in smoke test
  .github/workflows/smoke.yml
Due: none

fix(ci): null-guard empty stderr log in smoke test
  .github/workflows/smoke.yml
Due: none

fix(ci): make smoke JSON check fast, bounded, and hang-proof
  .github/workflows/smoke.yml
Due: none

fix(ci): tolerate valid audit exit codes in smoke score-only step
  .github/workflows/smoke.yml
Due: none

fix(ci): make smoke score-only step robust to native exit 1
  .github/workflows/smoke.yml
Due: none

fix(ci): harden remaining smoke audit steps against native exit 1
  .github/workflows/smoke.yml
Due: none

Add Boot Integrity audit module (Secure Boot, VBS, HVCI, Kernel DMA, test-signing/debug)
  src/WinSentinel.Core/Audits/BootIntegrityAnalyzer.cs
  src/WinSentinel.Core/Audits/BootIntegrityAudit.cs
  src/WinSentinel.Core/Services/AuditEngine.cs
  tests/WinSentinel.Tests/Audits/BootIntegrityAnalyzerTests.cs
Due: unittests, Core Library

fix(ci): scope score and threshold smoke steps to fast module subset
  .github/workflows/smoke.yml
Due: none

fix(docker): restore only CLI/Service projects to avoid test-plugin NETSDK1004
  Dockerfile
Due: none

fix(docker): restore only CLI/Service projects to avoid test-plugin NETSDK1004 (#255)
  Dockerfile
Due: none

Path conditions:
  unittests: any of: src/, but not: tests/**, docs/**, *.md, *.ps1, src/WinSentinel.Installer/**, src/WinSentinel.App/obj/**, **/Migrations/**
  Core Library: any of: src/WinSentinel.Core/**, but not: tests/**, docs/**, *.md, *.ps1, src/WinSentinel.Installer/**, src/WinSentinel.App/obj/**, **/Migrations/**
  CLI: any of: src/WinSentinel.Cli/**, but not: tests/**, docs/**, *.md, *.ps1, src/WinSentinel.Installer/**, src/WinSentinel.App/obj/**, **/Migrations/**
  Agent: any of: src/WinSentinel.Agent/**, but not: tests/**, docs/**, *.md, *.ps1, src/WinSentinel.Installer/**, src/WinSentinel.App/obj/**, **/Migrations/**
