Repository sauravbhattacharya001/WinSentinel: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Library, CLI, Agent

.codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 1
  round: down
  range: "40...80"

  status:
    project:
      default:
        target: auto
        threshold: 2%
        if_ci_failed: success
    patch:
      default:
        target: 60%
        threshold: 5%

  paths:
    - "src/**"

ignore:
  - "tests/**"
  - "docs/**"
  - "*.md"
  - "*.ps1"
  - "src/WinSentinel.Installer/**"
  - "src/WinSentinel.App/obj/**"
  - "**/Migrations/**"

comment:
  layout: "reach,diff,flags,components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  unittests:
    paths:
      - src/
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Library
      paths:
        - src/WinSentinel.Core/**
    - component_id: cli
      name: CLI
      paths:
        - src/WinSentinel.Cli/**
    - component_id: agent
      name: Agent
      paths:
        - src/WinSentinel.Agent/**

fix(ci/nuget): drop redundant *.snupkg push step (caused 409 + workflow failure for v1.17/v1.18/v1.19)
  .github/workflows/nuget.yml
Due: none

fix(plugins): suppress no-trusted-publishers warning when plugins dir is empty (#222)
  src/WinSentinel.Cli/PluginCommandHandler.cs
  src/WinSentinel.Core/Plugins/PluginHost.cs
Due: unittests, Core Library, CLI

test(plugins): cover warning gating logic (#222)
  tests/WinSentinel.Tests/Plugins/PluginHostTests.cs
Due: none

docs(plugins): note that trust warnings only fire when plugins dir has DLLs (#222)
  docs/CREATING-PLUGINS.md
  src/WinSentinel.Core/Plugins/PluginHost.cs
  src/WinSentinel.Core/Plugins/TrustedPublisherStore.cs
Due: unittests, Core Library

ci(nuget): treat GitHub Packages duplicate-version push as success
  .github/workflows/nuget.yml
Due: none

fix(regression-predictor): load findings when analyzing history
  src/WinSentinel.Core/Services/RegressionPredictorService.cs
Due: unittests, Core Library

test(process-monitor): drop response-action assertions; check severity instead
  tests/WinSentinel.Tests/Agent/ProcessMonitorModuleTests.cs
Due: none

fix(harden-script): include raw fix command as comment for reviewability
  src/WinSentinel.Core/Services/HardenScriptGenerator.cs
Due: unittests, Core Library

fix(priv-esc): match signature keywords on word boundaries
  src/WinSentinel.Core/Services/PrivilegeEscalationDetector.cs
Due: unittests, Core Library

test(misc): repair 7 singleton test failures
  src/WinSentinel.Agent/Services/Commands/StatusCommand.cs
  src/WinSentinel.Agent/ThreatLog.cs
  src/WinSentinel.Core/Audits/NetworkAudit.cs
  src/WinSentinel.Core/Helpers/InputSanitizer.cs
  tests/WinSentinel.Tests/Services/AuditEngineTests.cs
  tests/WinSentinel.Tests/Services/FixEngineTests.cs
  tests/WinSentinel.Tests/Services/ThreatModelServiceTests.cs
Due: unittests, Core Library, Agent

ci(nuget): drop continue-on-error from test step
  .github/workflows/nuget.yml
Due: none

fix(tools): make GenerateKeypair csproj XML-valid
  tools/GenerateKeypair/GenerateKeypair.csproj
Due: none

feat(license): embed official Ed25519 publisher pubkey (#212)
  src/WinSentinel.Core/Licensing/LicenseManager.cs
Due: unittests, Core Library

fix(ci/nuget): wire version_override through MinVerVersionOverride (#225)
  .github/workflows/nuget.yml
Due: none

fix(ci/nuget): wire version_override through MinVerVersionOverride (#225) (#226)
  .github/workflows/nuget.yml
Due: none

Plugin architecture: audit log, config loader, machine-wide dir, naughty fixtures
  src/WinSentinel.Core/Plugins/PluginConfigLoader.cs
  src/WinSentinel.Core/Plugins/PluginHost.cs
  src/WinSentinel.Core/Plugins/PluginLoadAuditLog.cs
  tests/WinSentinel.NaughtyTestPlugin/ThrowingPlugin.cs
  tests/WinSentinel.NaughtyTestPlugin/WinSentinel.NaughtyTestPlugin.csproj
  tests/WinSentinel.NaughtyTestPlugin/plugin.json
  tests/WinSentinel.Tests/Plugins/PluginConfigLoaderTests.cs
  tests/WinSentinel.Tests/Plugins/PluginHostExtendedTests.cs
  tests/WinSentinel.Tests/Plugins/PluginLoadAuditLogTests.cs
  tests/WinSentinel.Tests/WinSentinel.Tests.csproj
Due: unittests, Core Library

feat: add USB & Removable Media audit module (F6)
  src/WinSentinel.Core/Audits/UsbAudit.cs
  src/WinSentinel.Core/Services/AuditEngine.cs
  tests/WinSentinel.Tests/Audits/UsbAuditTests.cs
Due: unittests, Core Library

ci: add BVT gating, E2E smoke test, and improve coverage PR comments (#218, #219, #220)
  .github/workflows/bvt.yml
  .github/workflows/coverage-gate.yml
  .github/workflows/smoke.yml
  tests/WinSentinel.Tests/Cli/CliParserTests.cs
  tests/WinSentinel.Tests/InputSanitizerTests.cs
  tests/WinSentinel.Tests/Models/AuditResultTests.cs
  tests/WinSentinel.Tests/Models/FindingTests.cs
  tests/WinSentinel.Tests/Models/SeverityExtensionsTests.cs
  tests/WinSentinel.Tests/Services/SecurityScorerTests.cs
Due: none

ci: BVT gating, E2E smoke test, coverage PR comments (#227)
  .github/workflows/bvt.yml
  .github/workflows/coverage-gate.yml
  .github/workflows/smoke.yml
  tests/WinSentinel.Tests/Cli/CliParserTests.cs
  tests/WinSentinel.Tests/InputSanitizerTests.cs
  tests/WinSentinel.Tests/Models/AuditResultTests.cs
  tests/WinSentinel.Tests/Models/FindingTests.cs
  tests/WinSentinel.Tests/Models/SeverityExtensionsTests.cs
  tests/WinSentinel.Tests/Services/SecurityScorerTests.cs
Due: none

feat(plugins): interface visibility guard, fingerprint display, entitlement vocabulary (#215, #197, #198)
  src/WinSentinel.Cli/PluginCommandHandler.cs
  src/WinSentinel.Core/Plugins/Ed25519Crypto.cs
  src/WinSentinel.Core/Plugins/PluginEntitlements.cs
  tests/WinSentinel.Tests/Plugins/FingerprintTests.cs
  tests/WinSentinel.Tests/Plugins/PluginEntitlementsTests.cs
  tests/WinSentinel.Tests/Plugins/PluginInterfaceVisibilityTests.cs
Due: unittests, Core Library, CLI

feat(plugins): interface visibility guard, fingerprint display, entitlement vocabulary (#215, #197, #198) (#228)
  src/WinSentinel.Cli/PluginCommandHandler.cs
  src/WinSentinel.Core/Plugins/Ed25519Crypto.cs
  src/WinSentinel.Core/Plugins/PluginEntitlements.cs
  tests/WinSentinel.Tests/Plugins/FingerprintTests.cs
  tests/WinSentinel.Tests/Plugins/PluginEntitlementsTests.cs
  tests/WinSentinel.Tests/Plugins/PluginInterfaceVisibilityTests.cs
Due: unittests, Core Library, CLI

feat(plugins): SignPlugin tool, IssueTestLicense helper, plugin install command
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/PluginCommandHandler.cs
  src/WinSentinel.Core/Licensing/LicenseManager.cs
  tools/IssueTestLicense/IssueTestLicense.csproj
  tools/IssueTestLicense/Program.cs
  tools/SignPlugin/Program.cs
  tools/SignPlugin/SignPlugin.csproj
Due: unittests, Core Library, CLI

feat(plugins): plugin registry + search/show commands (#208)
  docs/registry.json
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/PluginCommandHandler.cs
Due: unittests, CLI

feat(plugins): trust pinning, QUICKSTART-PRO docs (#210, #217)
  docs/QUICKSTART-PRO.md
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/PluginCommandHandler.cs
  src/WinSentinel.Core/Plugins/PluginHost.cs
  src/WinSentinel.Core/Plugins/TrustedPublisherStore.cs
Due: unittests, Core Library, CLI

feat: move scheduled scans and real-time monitor to free tier (new commercial model: free = full single-machine power, Pro = fleet only)
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/Monitor/MonitorCommandHandler.cs
  src/WinSentinel.Cli/Monitor/MonitorEngine.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Cli/ScheduledScans/ScheduleCommandHandler.cs
  src/WinSentinel.Cli/ScheduledScans/ScheduleConfig.cs
  src/WinSentinel.Cli/ScheduledScans/ScheduleEngine.cs
Due: unittests, CLI

Update package descriptions and install instructions
  README.md
  src/WinSentinel.Cli/WinSentinel.Cli.csproj
  src/WinSentinel.Core/WinSentinel.Core.csproj
Due: unittests, Core Library, CLI

refactor: repurpose plugin architecture as community extensibility (no longer Pro-gated)
  README.md
  docs/CREATING-PLUGINS.md
  examples/ExamplePlugin/ExampleAuditPlugin.cs
  examples/ExamplePlugin/ExamplePlugin.csproj
  examples/ExamplePlugin/README.md
  examples/ExamplePlugin/plugin.json
  src/WinSentinel.Core/Plugins/PluginHost.cs
Due: unittests, Core Library

Add GitHub Action for CI security auditing (F18)
  action/README.md
  action/action.yml
Due: none

Add 'winsentinel why' command for finding explanations
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Cli/WhyCommandHandler.cs
Due: unittests, CLI

Add Identity & Credential audit module
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Audits/IdentityCredentialAudit.cs
  src/WinSentinel.Core/Services/AuditEngine.cs
  src/WinSentinel.Core/Services/SecurityCoverageService.cs
Due: unittests, Core Library, CLI

Add fleet commands (Pro-gated): status, scan-all, push-policy, nodes
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/FleetCommandHandler.cs
  src/WinSentinel.Cli/Program.cs
  tests/WinSentinel.Tests/Cli/FleetCliParserTests.cs
Due: unittests, CLI

Add fleet registration module to agent (Pro-gated)
  src/WinSentinel.Agent/AgentConfig.cs
  src/WinSentinel.Agent/AgentState.cs
  src/WinSentinel.Agent/Modules/FleetRegistrationModule.cs
  src/WinSentinel.Agent/Program.cs
  tests/WinSentinel.Tests/FleetRegistrationModuleTests.cs
Due: unittests, Agent

Add opt-in telemetry service + CLI command
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/TelemetryService.cs
  tests/WinSentinel.Tests/TelemetryServiceTests.cs
Due: unittests, Core Library, CLI

Add winget manifest + auto-submission workflow (F19)
  .github/workflows/winget.yml
  README.md
  winget/SauravBhattacharya.WinSentinel.installer.yaml
  winget/SauravBhattacharya.WinSentinel.locale.en-US.yaml
  winget/SauravBhattacharya.WinSentinel.yaml
Due: none

Add localization scaffolding with en-US resource files
  LOCALIZATION.md
  src/WinSentinel.Cli/Resources/CliStrings.resx
  src/WinSentinel.Cli/WinSentinel.Cli.csproj
  src/WinSentinel.Core/Localization/L.cs
  src/WinSentinel.Core/Resources/Strings.resx
  src/WinSentinel.Core/WinSentinel.Core.csproj
Due: unittests, Core Library, CLI

Add winsentinel agent CLI subcommand (start/stop/status/install/uninstall)
  src/WinSentinel.Cli/AgentCommandHandler.cs
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/Program.cs
Due: unittests, CLI

Add GitHub Action for automated security audits (F18)
  action/README.md
  action/action.yml
Due: none

Add standalone 'winsentinel diff' command
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/Program.cs
Due: unittests, CLI

Add GitHub Action for Marketplace (winsentinel security audit)
  action.yml
Due: none

ci: use RELEASE_PAT for gh-release to trigger NuGet workflow
  .github/workflows/release.yml
Due: none
