Repository sauravbhattacharya001/WinSentinel: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Library, CLI, Agent

docs: add security hardening guide to documentation site
  docfx/articles/security-hardening.md
  docfx/articles/toc.yml
  docfx/index.md
Due: none

feat(cli): add Security Anomaly Watchdog (--watchdog)
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Watchdog.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Models/WatchdogModels.cs
  src/WinSentinel.Core/Services/AnomalyWatchdogService.cs
Due: unittests, Core Library, CLI

perf: single-pass finding summary and O(1) category lookup in SecurityPostureService
  src/WinSentinel.Core/Services/SecurityPostureService.cs
Due: unittests, Core Library

refactor: extract severity mapping helpers in DashboardViewModel
  src/WinSentinel.App/ViewModels/DashboardViewModel.cs
Due: unittests

fix: false positive in encoded PowerShell detection for -e and -ec flags
  src/WinSentinel.Agent/Modules/ProcessMonitorModule.cs
Due: unittests, Agent

test: add comprehensive tests for HotspotAnalyzer and NoiseAnalyzer
  tests/WinSentinel.Tests/Services/HotspotAnalyzerTests.cs
  tests/WinSentinel.Tests/Services/NoiseAnalyzerTests.cs
Due: none

feat(cli): add --patrol command — autonomous multi-checkpoint security inspection
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Patrol.cs
  src/WinSentinel.Cli/Program.cs
Due: unittests, CLI

feat(cli): add Security Radar command (--radar)
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Radar.cs
  src/WinSentinel.Cli/Program.cs
Due: unittests, CLI

security: add InputSanitizer safety check to chat FixCommand
  src/WinSentinel.Agent/Services/Commands/FixCommand.cs
Due: unittests, Agent

refactor: add cached sorted rules and indexed override lookup in ResponsePolicy
  src/WinSentinel.Agent/Services/ResponsePolicy.cs
Due: unittests, Agent

chore: add documentation issue template
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation_issue.yml
Due: none

perf(event-log): batch XML extraction, hoist static HashSet
  src/WinSentinel.Agent/Modules/EventLogMonitorModule.cs
Due: unittests, Agent

test(agent): add comprehensive tests for InfoCommands chat handler
  tests/WinSentinel.Tests/Agent/Commands/InfoCommandsTests.cs
Due: none

docs(readme): update stats to reflect current codebase
  README.md
Due: none

refactor: extract remediation dispatch into strategy chain (IRemediationStrategy)
  src/WinSentinel.Agent/Services/AgentBrain.cs
  src/WinSentinel.Agent/Services/RemediationStrategies.cs
Due: unittests, Agent

test: add CalendarHeatmapService unit tests (15 tests)
  tests/WinSentinel.Tests/Services/CalendarHeatmapServiceTests.cs
Due: none

test: add 20 comprehensive tests for NoiseAnalyzer service
  tests/WinSentinel.Tests/NoiseAnalyzerTests.cs
Due: none

Add SecurityCoverageService unit tests (12 tests)
  tests/WinSentinel.Tests/Services/SecurityCoverageServiceTests.cs
Due: none

test: add comprehensive tests for SecurityHabitTracker
  tests/WinSentinel.Tests/Services/SecurityHabitTrackerTests.cs
Due: none

perf(correlator): reduce allocations in ThreatCorrelator hot path
  src/WinSentinel.Agent/Services/ThreatCorrelator.cs
Due: unittests, Agent

Add FAQ and Upgrade Guide to docs site
  docfx/articles/faq.md
  docfx/articles/toc.yml
  docfx/articles/upgrade-guide.md
  docfx/index.md
Due: none

docs(contributing): add debugging, Docker dev, and compliance profile sections
  CONTRIBUTING.md
Due: none

feat(cli): add Security Genome command (--genome)
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Genome.cs
  src/WinSentinel.Cli/Program.cs
Due: unittests, CLI

feat: add Security Correlation Engine CLI command (--correlate)
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Correlate.cs
  src/WinSentinel.Cli/Program.cs
Due: unittests, CLI

security: sanitize file paths and process names in fix commands
  src/WinSentinel.Agent/Modules/FileSystemMonitorModule.cs
  src/WinSentinel.Agent/Modules/NetworkMonitorModule.cs
Due: unittests, Agent

feat(cli): add Security Drift Monitor (--drift) command
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Drift.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Models/DriftEntry.cs
Due: unittests, Core Library, CLI

feat: add Security Mission Planner (--mission) - goal-oriented improvement planning
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
Due: unittests, CLI

refactor(cli): extract TryConsumeDouble helper for consistent double argument parsing
  src/WinSentinel.Cli/CliParser.cs
Due: unittests, CLI

feat: add Security Immune System (--immune) - adaptive threat memory with vaccination records, antibodies, and proactive immunity recommendations
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Immune.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/SecurityImmuneSystem.cs
Due: unittests, Core Library, CLI

fix(security): CWE-94 — prevent scriptblock injection in HardenScriptGenerator
  src/WinSentinel.Core/Services/HardenScriptGenerator.cs
Due: unittests, Core Library

feat: add Security Swarm Intelligence CLI command (--swarm)
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Swarm.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/SecuritySwarmIntelligence.cs
Due: unittests, Core Library, CLI

perf: single-pass BuildSummary in AgentJournal
  src/WinSentinel.Agent/Services/AgentJournal.cs
Due: unittests, Agent

refactor: hoist pattern arrays to static fields and extract SeverityExtensions
  src/WinSentinel.Core/Models/SeverityExtensions.cs
  src/WinSentinel.Core/Services/RemediationBatchAnalyzer.cs
  src/WinSentinel.Core/Services/RemediationPlanner.cs
Due: unittests, Core Library

security: fix command injection in toast notification via -EncodedCommand
  src/WinSentinel.Core/Services/NotificationService.cs
Due: unittests, Core Library

feat: add Security Nerve Center CLI command (--nerve)
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Nerve.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/SecurityNerveCenter.cs
Due: unittests, Core Library, CLI

security: reject Windows reserved device names in ValidateFilePath
  src/WinSentinel.Core/Helpers/InputSanitizer.cs
Due: unittests, Core Library

security: block PowerShell dot-source operator bypass in InputSanitizer
  src/WinSentinel.Core/Helpers/InputSanitizer.cs
  tests/WinSentinel.Tests/InputSanitizerTests.cs
Due: unittests, Core Library

feat: add Security Autopsy CLI command (--autopsy)
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Autopsy.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/SecurityAutopsyService.cs
Due: unittests, Core Library, CLI

Add 27 tests for SecuritySwarmIntelligence swarm analysis
  tests/WinSentinel.Tests/Services/SecuritySwarmIntelligenceTests.cs
Due: none

feat(cli): add Security Weather Report command (--weather)
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Weather.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
Due: unittests, CLI

Path conditions:
  unittests: any of: src/, but not: tests/**, docs/**, *.md, *.ps1, src/WinSentinel.Installer/**, src/WinSentinel.App/obj/**, **/Migrations/**
  Core Library: any of: src/WinSentinel.Core/**, but not: tests/**, docs/**, *.md, *.ps1, src/WinSentinel.Installer/**, src/WinSentinel.App/obj/**, **/Migrations/**
  CLI: any of: src/WinSentinel.Cli/**, but not: tests/**, docs/**, *.md, *.ps1, src/WinSentinel.Installer/**, src/WinSentinel.App/obj/**, **/Migrations/**
  Agent: any of: src/WinSentinel.Agent/**, but not: tests/**, docs/**, *.md, *.ps1, src/WinSentinel.Installer/**, src/WinSentinel.App/obj/**, **/Migrations/**
