Repository sauravbhattacharya001/WinSentinel: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Library, CLI, Agent

feat: Impact Detector — autonomous MITRE ATT&CK TA0040 detection (#183)
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Impact.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Models/ImpactModels.cs
  src/WinSentinel.Core/Services/ImpactDetector.cs
  tests/WinSentinel.Tests/ImpactDetectorTests.cs
Due: unittests, Core Library, CLI

fix(ci): unbreak Coverage Gate parser and Dockerfile line continuations
  .github/workflows/coverage-gate.yml
  Dockerfile
Due: none

fix(docker): restore with -r win-x64 so net8.0-windows/win-x64 assets exist for publish
  Dockerfile
Due: none

ci(docker): only build images on push-to-main and tags, not on PRs
  .github/workflows/docker.yml
Due: none

fix(ci): unbreak Coverage Gate parser and Dockerfile line continuations (#191)
  .github/workflows/coverage-gate.yml
  .github/workflows/docker.yml
  Dockerfile
Due: none

feat: add Collection Detector (MITRE ATT&CK TA0009)
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Collection.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Models/CollectionModels.cs
  src/WinSentinel.Core/Services/CollectionDetector.cs
  tests/WinSentinel.Tests/CollectionDetectorTests.cs
Due: unittests, Core Library, CLI

feat: add Collection Detector (MITRE ATT&CK TA0009) (#179)
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Collection.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Models/CollectionModels.cs
  src/WinSentinel.Core/Services/CollectionDetector.cs
  tests/WinSentinel.Tests/CollectionDetectorTests.cs
Due: unittests, Core Library, CLI

Fix #192: CLI --version now reads AssemblyInformationalVersion (MinVer)
  src/WinSentinel.Cli/ConsoleFormatter.cs
  tests/WinSentinel.Tests/Cli/ConsoleFormatterTests.cs
Due: unittests, CLI

Fix #194: machine-readable --version output (--quiet, --json)
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
  tests/WinSentinel.Tests/Cli/CliParserTests.cs
  tests/WinSentinel.Tests/Cli/ConsoleFormatterTests.cs
Due: unittests, CLI

Add ThreatHorizonForecastAdvisor: forward-looking threat-pressure forecaster
  src/WinSentinel.Core/Services/ThreatHorizonForecastAdvisor.cs
  tests/WinSentinel.Tests/ThreatHorizonForecastAdvisorTests.cs
Due: unittests, Core Library

deps(dependabot): group minor+patch, ignore Docker base major bumps
  .github/dependabot.yml
Due: none

Add dotnet tool packaging for CLI + winget submission + PR pack check
  .github/workflows/ci.yml
  .github/workflows/nuget.yml
  .github/workflows/winget.yml
  src/WinSentinel.Cli/WinSentinel.Cli.csproj
Due: unittests, CLI

Drop winget workflow for now; focus on nuget tool publishing
  .github/workflows/winget.yml
Due: none

fix(release): unbreak NuGet pack + MSIX asset copy (closes #195)
  .github/workflows/release.yml
  src/WinSentinel.Cli/WinSentinel.Cli.csproj
  src/WinSentinel.Core/WinSentinel.Core.csproj
Due: unittests, Core Library, CLI

fix(cli): kill orphan worker processes when CLI dies (closes #193)
  src/WinSentinel.Cli/ChildProcessReaper.cs
  src/WinSentinel.Cli/Program.cs
  tests/WinSentinel.Tests/Cli/ChildProcessReaperTests.cs
Due: unittests, CLI

feat(advisor): ServiceTamperingAdvisor — agentic Windows service tampering detector + playbook
  src/WinSentinel.Core/Services/ServiceTamperingAdvisor.cs
  tests/WinSentinel.Tests/ServiceTamperingAdvisorTests.cs
Due: unittests, Core Library

feat(core): ScheduledTaskAbuseAdvisor — agentic persistence advisor for Windows scheduled tasks
  src/WinSentinel.Core/Services/ScheduledTaskAbuseAdvisor.cs
  tests/WinSentinel.Tests/ScheduledTaskAbuseAdvisorTests.cs
Due: unittests, Core Library

fix(security): block newline and &&/|| chaining in CheckDangerousCommand
  src/WinSentinel.Core/Helpers/InputSanitizer.cs
  tests/WinSentinel.Tests/InputSanitizerTests.cs
  tests/WinSentinel.Tests/Models/SeverityExtensionsTests.cs
  tests/WinSentinel.Tests/Services/ShadowItDetectorServiceTests.cs
Due: unittests, Core Library

refactor(AnomalyWatchdog) + tests: extract WatchdogConfig, add 33 xunit cases
  src/WinSentinel.Core/Services/AnomalyWatchdogService.cs
  tests/WinSentinel.Tests/Services/AnomalyWatchdogServiceTests.cs
Due: unittests, Core Library

feat(WmiSubscriptionAbuseAdvisor): agentic WMI event subscription persistence advisor (9th sibling)
  src/WinSentinel.Core/Services/WmiSubscriptionAbuseAdvisor.cs
  tests/WinSentinel.Tests/WmiSubscriptionAbuseAdvisorTests.cs
Due: unittests, Core Library

feat(core): add DllSearchOrderHijackAdvisor (T1574.001/002)
  src/WinSentinel.Core/Services/DllSearchOrderHijackAdvisor.cs
  tests/WinSentinel.Tests/DllSearchOrderHijackAdvisorTests.cs
Due: unittests, Core Library

feat(cli): add `winsentinel pro` license management + --license flag (#6)
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ProCommandHandler.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Licensing/LicenseManager.cs
  tests/WinSentinel.Tests/Cli/ProCliParserTests.cs
  tests/WinSentinel.Tests/Licensing/LicenseManagerTests.cs
Due: unittests, Core Library, CLI

feat(cli): add `winsentinel export <format>` subcommand
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
  tests/WinSentinel.Tests/Cli/ExportCliParserTests.cs
Due: unittests, CLI

Add winsentinel self-update subcommand (F15)
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Cli/SelfUpdateCommandHandler.cs
  tests/WinSentinel.Tests/Cli/SelfUpdateCliParserTests.cs
Due: unittests, CLI

Add plugin architecture + license gate scaffold
  .github/workflows/ci.yml
  CONTRIBUTING.md
  NuGet.config
  docs/plugin-key-setup.md
  scripts/check-no-pro-code.ps1
  src/WinSentinel.Agent/Modules/NetworkMonitorModule.cs
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Licensing/LicenseInfo.cs
  src/WinSentinel.Core/Licensing/LicenseVerifier.cs
  src/WinSentinel.Core/Plugins/Ed25519Crypto.cs
  src/WinSentinel.Core/Plugins/IComplianceMapper.cs
  src/WinSentinel.Core/Plugins/IFleetSink.cs
  src/WinSentinel.Core/Plugins/IMonitorDaemon.cs
  src/WinSentinel.Core/Plugins/IPluginContext.cs
  src/WinSentinel.Core/Plugins/IReportExporter.cs
  src/WinSentinel.Core/Plugins/IScheduledScan.cs
  src/WinSentinel.Core/Plugins/IWinSentinelPlugin.cs
  src/WinSentinel.Core/Plugins/PluginHost.cs
  src/WinSentinel.Core/Plugins/PluginManifest.cs
  src/WinSentinel.Core/WinSentinel.Core.csproj
  tests/WinSentinel.TestPlugin/TestStubPlugin.cs
  tests/WinSentinel.TestPlugin/WinSentinel.TestPlugin.csproj
  tests/WinSentinel.Tests/Plugins/LicenseVerifierTests.cs
  tests/WinSentinel.Tests/Plugins/PluginHostTests.cs
  tests/WinSentinel.Tests/WinSentinel.Tests.csproj
  tools/GenerateKeypair/GenerateKeypair.csproj
  tools/GenerateKeypair/Program.cs
Due: unittests, Core Library, CLI, Agent

feat(core/plugins): add plugin interfaces and manifest
  src/WinSentinel.Core/Plugins/IComplianceMapper.cs
  src/WinSentinel.Core/Plugins/IFleetSink.cs
  src/WinSentinel.Core/Plugins/IMonitorDaemon.cs
  src/WinSentinel.Core/Plugins/IPluginContext.cs
  src/WinSentinel.Core/Plugins/IReportExporter.cs
  src/WinSentinel.Core/Plugins/IScheduledScan.cs
  src/WinSentinel.Core/Plugins/IWinSentinelPlugin.cs
  src/WinSentinel.Core/Plugins/PluginManifest.cs
Due: unittests, Core Library

feat(core/plugins): add Ed25519Crypto helper
  src/WinSentinel.Core/Plugins/Ed25519Crypto.cs
  src/WinSentinel.Core/WinSentinel.Core.csproj
Due: unittests, Core Library

feat(core/licensing): add IsEntitled + embedded plugin pubkey constant
  src/WinSentinel.Core/Licensing/LicenseManager.cs
Due: unittests, Core Library

feat(core/plugins): add PluginHost with signature + entitlement verification
  src/WinSentinel.Core/Plugins/PluginHost.cs
Due: unittests, Core Library

feat(cli): wire PluginHost into startup (no-op with placeholder pubkey)
  src/WinSentinel.Cli/Program.cs
Due: unittests, CLI

chore(tools): add GenerateKeypair console tool (manual, never persists keys)
  tools/GenerateKeypair/GenerateKeypair.csproj
  tools/GenerateKeypair/Program.cs
Due: none

chore(scripts): add check-no-pro-code.ps1 CI guard
  scripts/check-no-pro-code.ps1
Due: none

feat(core/plugins): multi-publisher trust model (TrustedPublisherStore, per-DLL publisher_key)
  src/WinSentinel.Core/Licensing/LicenseManager.cs
  src/WinSentinel.Core/Plugins/PluginHost.cs
  src/WinSentinel.Core/Plugins/PluginManifest.cs
  src/WinSentinel.Core/Plugins/TrustedPublisherStore.cs
Due: unittests, Core Library

feat(cli): add `winsentinel plugin {list,trust,untrust}` for multi-publisher trust
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/PluginCommandHandler.cs
  src/WinSentinel.Cli/Program.cs
Due: unittests, CLI

ci: enforce no-pro-code guard in build workflow
  .github/workflows/ci.yml
Due: none

docs: add plugin-key-setup founder runbook + CREATING-PLUGINS author guide + CONTRIBUTING addendum
  CONTRIBUTING.md
  docs/CREATING-PLUGINS.md
  docs/plugin-key-setup.md
Due: none

test: add PluginHost + LicenseManager entitlement coverage + test stub plugin (sidecar .sig/.pub for runtime keypair injection)
  src/WinSentinel.Core/Plugins/PluginHost.cs
  tests/WinSentinel.TestPlugin/TestStubPlugin.cs
  tests/WinSentinel.TestPlugin/WinSentinel.TestPlugin.csproj
  tests/WinSentinel.TestPlugin/plugin.json
  tests/WinSentinel.Tests/Plugins/LicenseManagerEntitlementTests.cs
  tests/WinSentinel.Tests/Plugins/PluginHostTests.cs
  tests/WinSentinel.Tests/WinSentinel.Tests.csproj
Due: unittests, Core Library

docs: add ROADMAP.md (plugin arch backlog + release prep) and cross-link from README/CONTRIBUTING
  CONTRIBUTING.md
  README.md
  ROADMAP.md
Due: none

chore(release): bump to 1.17.0; add test-infra roadmap (coverage, BVT, smoke)
  ROADMAP.md
  src/WinSentinel.Cli/WinSentinel.Cli.csproj
  src/WinSentinel.Core/WinSentinel.Core.csproj
Due: unittests, Core Library, CLI

chore(release): bump version to 1.19.0 (1.17/1.18 tags already exist on GH; jumping ahead)
  src/WinSentinel.Cli/WinSentinel.Cli.csproj
  src/WinSentinel.Core/WinSentinel.Core.csproj
Due: unittests, Core Library, CLI

Path conditions:
  unittests: any of: src/, but not: tests/**, docs/**, *.md, *.ps1, src/WinSentinel.Installer/**, src/WinSentinel.App/obj/**, **/Migrations/**
  Core Library: any of: src/WinSentinel.Core/**, but not: tests/**, docs/**, *.md, *.ps1, src/WinSentinel.Installer/**, src/WinSentinel.App/obj/**, **/Migrations/**
  CLI: any of: src/WinSentinel.Cli/**, but not: tests/**, docs/**, *.md, *.ps1, src/WinSentinel.Installer/**, src/WinSentinel.App/obj/**, **/Migrations/**
  Agent: any of: src/WinSentinel.Agent/**, but not: tests/**, docs/**, *.md, *.ps1, src/WinSentinel.Installer/**, src/WinSentinel.App/obj/**, **/Migrations/**
