Repository sauravbhattacharya001/WinSentinel: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Library, CLI, Agent

test: add integration tests for PurgeOldRuns cascade delete behavior
  tests/WinSentinel.Tests/Services/AuditHistoryServiceTests.cs
Due: none

feat: add PowerShell Security Audit module
  src/WinSentinel.Core/Audits/PowerShellAudit.cs
  src/WinSentinel.Core/Services/AuditEngine.cs
  tests/WinSentinel.Tests/Audits/PowerShellAuditTests.cs
Due: unittests, Core Library

Add DNS Security Audit module
  src/WinSentinel.Core/Audits/DnsAudit.cs
  src/WinSentinel.Core/Services/AuditEngine.cs
  tests/WinSentinel.Tests/Audits/DnsAuditTests.cs
Due: unittests, Core Library

Add Scheduled Task Security Audit — scans for suspicious tasks, encoded commands, persistence triggers, elevated privileges, hidden tasks (MITRE T1053.005)
  src/WinSentinel.Core/Audits/ScheduledTaskAudit.cs
  tests/WinSentinel.Tests/Audits/ScheduledTaskAuditTests.cs
Due: unittests, Core Library

feat: add File Integrity Monitor service with SHA-256 baseline comparison
  src/WinSentinel.Core/Services/FileIntegrityMonitor.cs
  tests/WinSentinel.Tests/Services/FileIntegrityMonitorTests.cs
Due: unittests, Core Library

Add Windows Service Security Audit module
  src/WinSentinel.Core/Audits/ServiceAudit.cs
  tests/WinSentinel.Tests/Audits/ServiceAuditTests.cs
Due: unittests, Core Library

feat: add Registry Security Audit module
  src/WinSentinel.Core/Audits/RegistryAudit.cs
  tests/WinSentinel.Tests/Audits/RegistryAuditTests.cs
Due: unittests, Core Library

fix: register missing ScheduledTask, Service, and Registry audit modules
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/AuditEngine.cs
  tests/WinSentinel.Tests/Services/AuditEngineTests.cs
Due: unittests, Core Library, CLI

Add Firewall Rule Security Analyzer — deep rule-level analysis with risk scoring
  src/WinSentinel.Core/Services/FirewallRuleAnalyzer.cs
  tests/WinSentinel.Tests/Services/FirewallRuleAnalyzerTests.cs
Due: unittests, Core Library

feat: add SMB & Network Share Security Audit module
  src/WinSentinel.Core/Audits/SmbShareAudit.cs
  src/WinSentinel.Core/Services/AuditEngine.cs
  tests/WinSentinel.Tests/Audits/SmbShareAuditTests.cs
Due: unittests, Core Library

Add Driver Security Audit — unsigned driver detection, BYOVD vulnerable driver hash matching, Secure Boot/HVCI/test signing checks, suspicious path analysis, driver age warnings
  src/WinSentinel.Core/Audits/DriverAudit.cs
  tests/WinSentinel.Tests/Audits/DriverAuditTests.cs
Due: unittests, Core Library

feat: add Environment Variable Security Audit
  src/WinSentinel.Core/Audits/EnvironmentAudit.cs
  src/WinSentinel.Core/Services/AuditEngine.cs
  tests/WinSentinel.Tests/Audits/EnvironmentAuditTests.cs
Due: unittests, Core Library

feat: add Group Policy Security Audit module
  src/WinSentinel.Core/Audits/GroupPolicyAudit.cs
  tests/WinSentinel.Tests/Audits/GroupPolicyAuditTests.cs
  tests/WinSentinel.Tests/Services/AuditEngineTests.cs
Due: unittests, Core Library

feat: Remote Access Security Audit
  src/WinSentinel.Core/Audits/RemoteAccessAudit.cs
  tests/WinSentinel.Tests/Audits/RemoteAccessAuditTests.cs
Due: unittests, Core Library

fix: O(n^2) startup I/O in AutoRemediator + broken file path extraction in AgentBrain
  src/WinSentinel.Agent/Services/AgentBrain.cs
  src/WinSentinel.Agent/Services/AutoRemediator.cs
Due: unittests, Agent

test: add ChatHandler test coverage (75 tests)
  tests/WinSentinel.Tests/Agent/ChatHandlerTests.cs
Due: none

feat: add Credential Exposure Audit module
  src/WinSentinel.Core/Audits/CredentialExposureAudit.cs
  tests/WinSentinel.Tests/Audits/CredentialExposureAuditTests.cs
Due: unittests, Core Library

feat: add Incident Response Playbook service
  src/WinSentinel.Core/Services/IncidentResponsePlaybook.cs
  tests/WinSentinel.Tests/Services/IncidentResponsePlaybookTests.cs
Due: unittests, Core Library

feat: add cross-module Finding Deduplication service
  src/WinSentinel.Core/Services/FindingDeduplicator.cs
  tests/WinSentinel.Tests/Services/FindingDeduplicatorTests.cs
Due: unittests, Core Library

fix: prevent ShellHelper deadlock and harden Docker image scanning
  .github/workflows/docker.yml
  src/WinSentinel.Core/Helpers/ShellHelper.cs
  tests/WinSentinel.Tests/Agent/AutoRemediatorTests.cs
Due: unittests, Core Library

Add Backup Security Audit module
  src/WinSentinel.Core/Audits/BackupAudit.cs
  tests/WinSentinel.Tests/Audits/BackupAuditTests.cs
Due: unittests, Core Library

refactor: consolidate 3 parallel category dictionaries into single CategoryRiskProfile
  src/WinSentinel.Core/Services/RiskAssessmentService.cs
Due: unittests, Core Library

test: add 17 unit tests for AuditEngine (10 -> 27 total)
  tests/WinSentinel.Tests/Services/AuditEngineTests.cs
Due: none

fix: race condition in AutoRemediator.Undo() (#34)
  src/WinSentinel.Agent/Services/AutoRemediator.cs
Due: unittests, Agent

fix: similarity reason shows wrong percentage in FindingDeduplicator
  src/WinSentinel.Core/Services/FindingDeduplicator.cs
  tests/WinSentinel.Tests/Services/FindingDeduplicatorTests.cs
Due: unittests, Core Library

fix: CalculateMedian returns double to avoid integer division truncation
  src/WinSentinel.Core/Services/TrendAnalyzer.cs
  tests/WinSentinel.Tests/Services/TrendAnalyzerTests.cs
Due: unittests, Core Library

fix: CalculateMedian returns double to avoid integer division truncation (#36)
  src/WinSentinel.Core/Services/TrendAnalyzer.cs
  tests/WinSentinel.Tests/Services/TrendAnalyzerTests.cs
Due: unittests, Core Library

refactor: extract history/trend formatting into ConsoleFormatter.History.cs
  src/WinSentinel.Cli/ConsoleFormatter.History.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
Due: unittests, CLI

Add Attack Surface Analyzer service
  src/WinSentinel.Core/Services/AttackSurfaceAnalyzer.cs
  tests/WinSentinel.Tests/Services/AttackSurfaceAnalyzerTests.cs
Due: unittests, Core Library

feat: add Screen Time Tracker service
  lib/core/services/screen_time_tracker_service.dart
  lib/models/screen_time_entry.dart
  test/core/screen_time_tracker_service_test.dart
Due: none

Revert "feat: add Screen Time Tracker service"
  lib/core/services/screen_time_tracker_service.dart
  lib/models/screen_time_entry.dart
  test/core/screen_time_tracker_service_test.dart
Due: none

feat: add PeerBenchmarkService for security posture comparison
  src/WinSentinel.Core/Services/PeerBenchmarkService.cs
  tests/WinSentinel.Tests/Services/PeerBenchmarkServiceTests.cs
Due: unittests, Core Library

fix: ExtractDirectory no longer truncates paths at '.' characters
  src/WinSentinel.Agent/Services/ThreatCorrelator.cs
  tests/WinSentinel.Tests/Agent/ThreatCorrelatorTests.cs
Due: unittests, Agent

security: ChatHandler — validate IPs and ignore input via InputSanitizer
  src/WinSentinel.Agent/Services/ChatHandler.cs
Due: unittests, Agent

feat: add Security Knowledge Base with CWE/MITRE ATT&CK enrichment
  src/WinSentinel.Core/Services/SecurityKnowledgeBase.cs
  tests/WinSentinel.Tests/Services/SecurityKnowledgeBaseTests.cs
Due: unittests, Core Library

fix: correlate actual suspicious process, not benign trigger event (fixes #39)
  src/WinSentinel.Agent/Modules/NetworkMonitorModule.cs
  src/WinSentinel.Agent/Services/ThreatCorrelator.cs
Due: unittests, Agent

fix(network): prevent duplicate alerts for overlapping detection rules
  src/WinSentinel.Agent/Modules/NetworkMonitorModule.cs
Due: unittests, Agent

test: add SecurityScorer + FindingDeduplicator tests (56 new)
  tests/WinSentinel.Tests/SecurityScorerAndDeduplicatorTests.cs
Due: none

feat(cli): add --watch live monitoring mode
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
Due: unittests, CLI

test: add 44 tests for PeerBenchmarkService
  tests/WinSentinel.Tests/Services/PeerBenchmarkServiceTests.cs
Due: none

Path conditions:
  unittests: any of: src/, but not: tests/**, docs/**, *.md, *.ps1, src/WinSentinel.Installer/**, src/WinSentinel.App/obj/**, **/Migrations/**
  Core Library: any of: src/WinSentinel.Core/**, but not: tests/**, docs/**, *.md, *.ps1, src/WinSentinel.Installer/**, src/WinSentinel.App/obj/**, **/Migrations/**
  CLI: any of: src/WinSentinel.Cli/**, but not: tests/**, docs/**, *.md, *.ps1, src/WinSentinel.Installer/**, src/WinSentinel.App/obj/**, **/Migrations/**
  Agent: any of: src/WinSentinel.Agent/**, but not: tests/**, docs/**, *.md, *.ps1, src/WinSentinel.Installer/**, src/WinSentinel.App/obj/**, **/Migrations/**
