Repository sauravbhattacharya001/WinSentinel: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Library, CLI, Agent

.codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 1
  round: down
  range: "40...80"

  status:
    project:
      default:
        target: auto
        threshold: 2%
        if_ci_failed: success
    patch:
      default:
        target: 60%
        threshold: 5%

  paths:
    - "src/**"

ignore:
  - "tests/**"
  - "docs/**"
  - "*.md"
  - "*.ps1"
  - "src/WinSentinel.Installer/**"
  - "src/WinSentinel.App/obj/**"
  - "**/Migrations/**"

comment:
  layout: "reach,diff,flags,components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  unittests:
    paths:
      - src/
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Library
      paths:
        - src/WinSentinel.Core/**
    - component_id: cli
      name: CLI
      paths:
        - src/WinSentinel.Cli/**
    - component_id: agent
      name: Agent
      paths:
        - src/WinSentinel.Agent/**

feat: Security Decay Predictor - autonomous finding severity escalation forecasting
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Decay.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Models/DecayPredictionModels.cs
  src/WinSentinel.Core/Services/SecurityDecayPredictor.cs
  tests/WinSentinel.Tests/SecurityDecayPredictorTests.cs
Due: unittests, Core Library, CLI

feat: add Persistence Mechanism Scanner (MITRE ATT&CK TA0003)
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Persist.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Models/PersistenceModels.cs
  src/WinSentinel.Core/Services/PersistenceScanner.cs
  tests/WinSentinel.Tests/PersistenceScannerTests.cs
Due: unittests, Core Library, CLI

fix(AuditHistoryService): add GetHistoryWithFindings() to load findings with history
  src/WinSentinel.Core/Services/AuditHistoryService.cs
  src/WinSentinel.Core/Services/SecurityFlightRecorderService.cs
  src/WinSentinel.Core/Services/SecurityNerveCenter.cs
Due: unittests, Core Library

feat: Defense Evasion Detector (MITRE ATT&CK TA0005)
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Evasion.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Models/DefenseEvasionModels.cs
  src/WinSentinel.Core/Services/DefenseEvasionDetector.cs
  tests/WinSentinel.Tests/DefenseEvasionDetectorTests.cs
Due: unittests, Core Library, CLI

docs(contributing): add remediation strategy guide, fix service counts, remove duplicate step
  CONTRIBUTING.md
Due: none

feat: Data Exfiltration Detector (MITRE ATT&CK TA0010)
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Exfil.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Models/DataExfiltrationModels.cs
  src/WinSentinel.Core/Services/DataExfiltrationDetector.cs
  tests/WinSentinel.Tests/DataExfiltrationDetectorTests.cs
Due: unittests, Core Library, CLI

fix: resolve stack overflow in EventLogAudit.AddFinding (infinite recursion)
  src/WinSentinel.Core/Audits/EventLogAudit.cs
Due: unittests, Core Library

test(coverage): add 38 tests for ScoreForecaster — regression, intervals, risk factors
  tests/WinSentinel.Tests/ScoreForecasterTests.cs
Due: none

ci(publish): add continuous preview NuGet packages to GitHub Packages on main push
  .github/workflows/ci.yml
  .github/workflows/nuget.yml
Due: none

perf(insider-threat): pre-compile regex patterns and single-pass event bucketing in DetectDeviations
  src/WinSentinel.Core/Services/InsiderThreatProfiler.cs
Due: unittests, Core Library

refactor: sort audit runs once in SecurityNerveCenter.Analyze
  src/WinSentinel.Core/Services/SecurityNerveCenter.cs
Due: unittests, Core Library

docs(contributing): add audit module catalog and service integration patterns
  CONTRIBUTING.md
Due: none

feat: Credential Access Detector — autonomous MITRE ATT&CK TA0006 detection
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.CredAccess.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Models/CredentialAccessModels.cs
  src/WinSentinel.Core/Services/CredentialAccessDetector.cs
  tests/WinSentinel.Tests/CredentialAccessDetectorTests.cs
Due: unittests, Core Library, CLI

perf: cache Serilog enricher properties, eliminate PurgeStale allocation
  src/WinSentinel.Agent/AgentEnricher.cs
  src/WinSentinel.Agent/ThreatRateLimiter.cs
Due: unittests, Agent

feat: Initial Access Detector — autonomous MITRE ATT&CK TA0001 detection
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.InitialAccess.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Models/InitialAccessModels.cs
  src/WinSentinel.Core/Services/InitialAccessDetector.cs
  tests/WinSentinel.Tests/InitialAccessDetectorTests.cs
Due: unittests, Core Library, CLI

feat: Discovery Detector — autonomous MITRE ATT&CK TA0007 detection
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Discovery.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Models/DiscoveryModels.cs
  src/WinSentinel.Core/Services/DiscoveryDetector.cs
  tests/WinSentinel.Tests/DiscoveryDetectorTests.cs
Due: unittests, Core Library, CLI

feat: Execution Detector — autonomous MITRE ATT&CK TA0002 detection
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Execution.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Models/ExecutionModels.cs
  src/WinSentinel.Core/Services/ExecutionDetector.cs
  tests/WinSentinel.Tests/ExecutionDetectorTests.cs
Due: unittests, Core Library, CLI

feat: Command and Control Detector — autonomous MITRE ATT&CK TA0011 detection
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.C2.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Models/CommandControlModels.cs
  src/WinSentinel.Core/Services/CommandControlDetector.cs
  tests/WinSentinel.Tests/CommandControlDetectorTests.cs
Due: unittests, Core Library, CLI

perf: precompute best-per-stage + single-pass scoring in AttackPathAnalyzer
  src/WinSentinel.Core/Services/AttackPathAnalyzer.cs
Due: unittests, Core Library

fix: RemediationPlanner projected score uses proper per-module recalculation (fixes #178)
  src/WinSentinel.Core/Services/RemediationPlanner.cs
Due: unittests, Core Library

fix: NuGet publish workflow — fix broken action versions, add version management
  .github/workflows/nuget.yml
  .github/workflows/release.yml
  .github/workflows/version-sync.yml
  src/WinSentinel.Cli/WinSentinel.Cli.csproj
  src/WinSentinel.Core/WinSentinel.Core.csproj
Due: unittests, Core Library, CLI

fix: escape bare ampersands in XML doc comments (CS1570)
  src/WinSentinel.Core/Models/BeaconDetectionModels.cs
  src/WinSentinel.Core/Models/ComplianceModels.cs
  src/WinSentinel.Core/Models/DataExfiltrationModels.cs
  src/WinSentinel.Core/Models/InsiderThreatModels.cs
  src/WinSentinel.Core/Models/LateralMovementModels.cs
  src/WinSentinel.Core/Services/BeaconDetectionService.cs
  src/WinSentinel.Core/Services/CredentialAccessDetector.cs
  src/WinSentinel.Core/Services/DataExfiltrationDetector.cs
  src/WinSentinel.Core/Services/DefenseEvasionDetector.cs
  src/WinSentinel.Core/Services/InitialAccessDetector.cs
  src/WinSentinel.Core/Services/LateralMovementDetector.cs
  src/WinSentinel.Core/Services/PrivilegeEscalationDetector.cs
  src/WinSentinel.Core/Services/ThreatDnaProfilerService.cs
Due: unittests, Core Library

test: add comprehensive unit tests for FindingCorrelator (22 cases)
  tests/WinSentinel.Tests/FindingCorrelatorTests.cs
Due: none

feat(core): add FixOrchestrationPlanner — agentic remediation playbook sequencer
  src/WinSentinel.Core/Services/FixOrchestrationPlanner.cs
  tests/WinSentinel.Tests/Services/FixOrchestrationPlannerTests.cs
Due: unittests, Core Library

refactor(insider): remove dead RiskLevel assignment, name 85-Critical threshold
  src/WinSentinel.Core/Services/InsiderThreatProfiler.cs
Due: unittests, Core Library

chore: bump version to 1.16.0
  src/WinSentinel.Cli/WinSentinel.Cli.csproj
  src/WinSentinel.Core/WinSentinel.Core.csproj
Due: unittests, Core Library, CLI

Add AlertRoutingAdvisor: agentic alert routing and fatigue protection
  src/WinSentinel.Core/Services/AlertRoutingAdvisor.cs
  tests/WinSentinel.Tests/Services/AlertRoutingAdvisorTests.cs
Due: unittests, Core Library

Add AttackerProfileSynthesizer: agentic cross-detector attacker-archetype + hunt/containment playbook
  src/WinSentinel.Core/Services/AttackerProfileSynthesizer.cs
  tests/WinSentinel.Tests/Services/AttackerProfileSynthesizerTests.cs
Due: unittests, Core Library

refactor(core): harden WmiHelper disposal/streaming + document RegistryAudit API
  src/WinSentinel.Core/Audits/RegistryAudit.cs
  src/WinSentinel.Core/Helpers/WmiHelper.cs
Due: unittests, Core Library

Add PostureRegressionExplainer: agentic posture regression root-cause + playbook
  src/WinSentinel.Core/Services/PostureRegressionExplainer.cs
  tests/WinSentinel.Tests/Services/PostureRegressionExplainerTests.cs
Due: unittests, Core Library

Add IncidentResponseSLAComplianceAdvisor: agentic IR SLA-compliance + process-improvement playbook
  src/WinSentinel.Core/Services/IncidentResponseSLAComplianceAdvisor.cs
  tests/WinSentinel.Tests/Services/IncidentResponseSLAComplianceAdvisorTests.cs
Due: unittests, Core Library

Add PolicyExceptionRiskAdvisor: agentic risk-acceptance / waiver auditor
  src/WinSentinel.Core/Services/PolicyExceptionRiskAdvisor.cs
  tests/WinSentinel.Tests/PolicyExceptionRiskAdvisorTests.cs
Due: unittests, Core Library

security(FixEngine): escape apostrophes in temp paths before embedding in elevated PowerShell wrapper
  src/WinSentinel.Core/Services/FixEngine.cs
  src/WinSentinel.Core/WinSentinel.Core.csproj
  tests/WinSentinel.Tests/Services/FixEngineTests.cs
Due: unittests, Core Library

ci(labeler): refine area globs and expand label coverage
  .github/labeler.yml
  CONTRIBUTING.md
Due: none

docs(ipc): add XML docstrings to every IpcClient DTO and member
  src/WinSentinel.Core/Services/IpcClient.cs
Due: unittests, Core Library

perf(ipc): lock-free pending-request map and async TCS continuations
  src/WinSentinel.Core/Services/IpcClient.cs
Due: unittests, Core Library

fix(build): retarget Core/Cli to net8.0-windows and clear analyzer rot
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Cli/WinSentinel.Cli.csproj
  src/WinSentinel.Core/Audits/CertificateAudit.cs
  src/WinSentinel.Core/Services/AuditDiffService.cs
  src/WinSentinel.Core/Services/DataExfiltrationDetector.cs
  src/WinSentinel.Core/Services/SecurityNerveCenter.cs
  src/WinSentinel.Core/WinSentinel.Core.csproj
  tests/WinSentinel.Tests/WinSentinel.Tests.csproj
Due: unittests, Core Library, CLI

fix(build): retarget Core/Cli to net8.0-windows and clear analyzer rot (#190)
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Cli/WinSentinel.Cli.csproj
  src/WinSentinel.Core/Audits/CertificateAudit.cs
  src/WinSentinel.Core/Services/AuditDiffService.cs
  src/WinSentinel.Core/Services/DataExfiltrationDetector.cs
  src/WinSentinel.Core/Services/SecurityNerveCenter.cs
  src/WinSentinel.Core/WinSentinel.Core.csproj
  tests/WinSentinel.Tests/WinSentinel.Tests.csproj
Due: unittests, Core Library, CLI

feat: Impact Detector — autonomous MITRE ATT&CK TA0040 detection
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Impact.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Models/ImpactModels.cs
  src/WinSentinel.Core/Services/ImpactDetector.cs
  tests/WinSentinel.Tests/ImpactDetectorTests.cs
Due: unittests, Core Library, CLI
