Repository sauravbhattacharya001/WinSentinel: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Library, CLI, Agent

FindingHeatmapService -- temporal heatmap for security findings
  src/WinSentinel.Core/Services/FindingHeatmapService.cs
  tests/WinSentinel.Tests/Services/FindingHeatmapServiceTests.cs
Due: unittests, Core Library

chore: rename BadgeBadgeAction typo + update audit module docs (13 → 30)
  docs/ARCHITECTURE.md
  src/WinSentinel.Cli/CliParser.cs
  tests/WinSentinel.Tests/Cli/CliParserTests.cs
Due: unittests, CLI

chore: rename BadgeBadgeAction typo + update audit module docs (13 → 30) (#88)
  docs/ARCHITECTURE.md
  src/WinSentinel.Cli/CliParser.cs
  tests/WinSentinel.Tests/Cli/CliParserTests.cs
Due: unittests, CLI

feat: add ThreatIntelFeed — curated threat intelligence indicator matching
  src/WinSentinel.Core/Services/ThreatIntelFeed.cs
  tests/WinSentinel.Tests/Services/ThreatIntelFeedTests.cs
Due: unittests, Core Library

feat: add ThreatIntelFeed — curated threat intelligence indicator matching (#89)
  src/WinSentinel.Core/Services/ThreatIntelFeed.cs
  tests/WinSentinel.Tests/Services/ThreatIntelFeedTests.cs
Due: unittests, Core Library

fix: prevent process deadlock in AutoRemediator
  src/WinSentinel.Agent/Services/AutoRemediator.cs
Due: unittests, Agent

feat: add ComplianceTrendTracker — compliance posture evolution over time
  src/WinSentinel.Core/Services/ComplianceTrendTracker.cs
  tests/WinSentinel.Tests/Services/ComplianceTrendTrackerTests.cs
Due: unittests, Core Library

feat: add ComplianceTrendTracker — compliance posture evolution over time (#90)
  src/WinSentinel.Core/Services/ComplianceTrendTracker.cs
  tests/WinSentinel.Tests/Services/ComplianceTrendTrackerTests.cs
Due: unittests, Core Library

fix: gate RapidMultiModule correlation on new event severity
  src/WinSentinel.Agent/Services/ThreatCorrelator.cs
Due: unittests, Agent

feat: add PromptPlayground — interactive HTML playground for testing prompt templates
  src/PromptPlayground.cs
Due: unittests

feat: Attack Path Analyzer — kill chain analysis with chokepoint remediation
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.AttackPaths.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/AttackPathAnalyzer.cs
  tests/WinSentinel.Tests/Services/AttackPathAnalyzerTests.cs
Due: unittests, Core Library, CLI

feat: Attack Path Analyzer — kill chain analysis with chokepoint remediation (#92)
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.AttackPaths.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/AttackPathAnalyzer.cs
  tests/WinSentinel.Tests/Services/AttackPathAnalyzerTests.cs
Due: unittests, Core Library, CLI

cleanup: extract CreateSilentProcessInfo helper in AutoRemediator
  src/WinSentinel.Agent/Services/AutoRemediator.cs
Due: unittests, Agent

fix: ThreatCorrelator race conditions and duplicate correlations
  src/WinSentinel.Agent/Services/ThreatCorrelator.cs
Due: unittests, Agent

fix: ThreatCorrelator race conditions, duplicate correlations, and alert flooding
  src/WinSentinel.Agent/Services/ThreatCorrelator.cs
Due: unittests, Agent

fix: IpcServer - wrong unsubscribe response type, silent fire-and-forget, FixEngine not using DI
  src/WinSentinel.Agent/Ipc/IpcMessage.cs
  src/WinSentinel.Agent/Program.cs
  src/WinSentinel.Agent/Services/IpcServer.cs
Due: unittests, Agent

fix: use correct variable in CheckDefenderPlusUnsigned reverse branch
  src/WinSentinel.Agent/Services/ThreatCorrelator.cs
Due: unittests, Agent

test: add comprehensive FindingCorrelator tests
  tests/WinSentinel.Tests/FindingCorrelatorTests.cs
Due: none

feat: add finding search CLI (--search <query>)
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Search.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/FindingSearchService.cs
  tests/WinSentinel.Tests/FindingSearchServiceTests.cs
Due: unittests, Core Library, CLI

security: harden ValidateFilePath against NT path and symlink bypasses
  src/WinSentinel.Core/Helpers/InputSanitizer.cs
  tests/WinSentinel.Tests/InputSanitizerTests.cs
Due: unittests, Core Library

feat: add --summary command for executive security briefing
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Summary.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/ExecutiveSummaryService.cs
  tests/WinSentinel.Tests/Services/ExecutiveSummaryServiceTests.cs
Due: unittests, Core Library, CLI

fix: prevent false-positive Critical alerts from benign process events in DefenderPlusUnsigned rule
  src/WinSentinel.Agent/Services/ThreatCorrelator.cs
Due: unittests, Agent

fix: race condition in ThreatRateLimiter.ShouldRateLimitByKey
  src/WinSentinel.Agent/ThreatRateLimiter.cs
Due: unittests, Agent

feat: add --compliance CLI command for framework evaluation
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Compliance.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
  tests/WinSentinel.Tests/Cli/ComplianceCliTests.cs
Due: unittests, CLI

fix: race condition in ScanScheduler.Stop() causes ObjectDisposedException
  src/WinSentinel.Core/Services/ScanScheduler.cs
Due: unittests, Core Library

fix: add try-catch guard to async void OnTimerElapsed
  src/WinSentinel.Core/Services/ScanScheduler.cs
Due: unittests, Core Library

Add XML doc comments to core model properties and factory methods
  src/WinSentinel.Core/Models/AuditResult.cs
  src/WinSentinel.Core/Models/Finding.cs
  src/WinSentinel.Core/Models/SecurityReport.cs
Due: unittests, Core Library

fix: process handle leak in GetProcessPath + optimize network monitor O(n²) scans
  src/WinSentinel.Agent/Modules/NetworkMonitorModule.cs
Due: unittests, Agent

security: harden CheckDangerousCommand against bypass vectors
  src/WinSentinel.Core/Helpers/InputSanitizer.cs
  tests/WinSentinel.Tests/InputSanitizerTests.cs
Due: unittests, Core Library

test: add comprehensive HardenScriptGenerator tests (21 cases)
  tests/WinSentinel.Tests/Services/HardenScriptGeneratorTests.cs
Due: none

refactor: extract ExemptionCommandHandler from Program.cs (-250 lines)
  src/WinSentinel.Cli/ExemptionCommandHandler.cs
  src/WinSentinel.Cli/Program.cs
Due: unittests, CLI

docs: add XML doc comments to EncryptionAudit methods
  src/WinSentinel.Core/Audits/EncryptionAudit.cs
Due: unittests, Core Library

chore: remove orphaned PromptPlayground.cs
  src/PromptPlayground.cs
Due: unittests

fix: eliminate O(n²) in CheckSuspiciousPorts and remove duplicate port
  src/WinSentinel.Agent/Modules/NetworkMonitorModule.cs
Due: unittests, Agent

docs: add IPC protocol reference
  docs/IPC-PROTOCOL.md
Due: none

fix: resolve data race on _lastContentHash in ClipboardMonitorModule
  src/WinSentinel.Agent/Modules/ClipboardMonitorModule.cs
Due: unittests, Agent

docs: add XML doc comments to AuditDetailViewModel and ChatViewModel
  src/WinSentinel.App/ViewModels/AuditDetailViewModel.cs
  src/WinSentinel.App/ViewModels/ChatViewModel.cs
Due: unittests

docs: add NuGet and Docker badges to README
  README.md
Due: none

fix: remove dead entries from SafeTempPatterns that never matched
  src/WinSentinel.Agent/Modules/FileSystemMonitorModule.cs
  tests/WinSentinel.Tests/Agent/FileSystemMonitorModuleTests.cs
Due: unittests, Agent

fix: escape double-quotes in toast notification XML
  src/WinSentinel.Core/Services/NotificationService.cs
Due: unittests, Core Library

Path conditions:
  unittests: any of: src/, but not: tests/**, docs/**, *.md, *.ps1, src/WinSentinel.Installer/**, src/WinSentinel.App/obj/**, **/Migrations/**
  Core Library: any of: src/WinSentinel.Core/**, but not: tests/**, docs/**, *.md, *.ps1, src/WinSentinel.Installer/**, src/WinSentinel.App/obj/**, **/Migrations/**
  CLI: any of: src/WinSentinel.Cli/**, but not: tests/**, docs/**, *.md, *.ps1, src/WinSentinel.Installer/**, src/WinSentinel.App/obj/**, **/Migrations/**
  Agent: any of: src/WinSentinel.Agent/**, but not: tests/**, docs/**, *.md, *.ps1, src/WinSentinel.Installer/**, src/WinSentinel.App/obj/**, **/Migrations/**
