Repository sauravbhattacharya001/WinSentinel: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Library, CLI, Agent

feat: centralize versioning with MinVer, fix actions versions
  .github/workflows/nuget.yml
  .github/workflows/release.yml
  Directory.Build.props
  src/WinSentinel.Cli/WinSentinel.Cli.csproj
  src/WinSentinel.Core/WinSentinel.Core.csproj
Due: unittests, Core Library, CLI

docs: add XML doc comments to ScheduledAuditModule and DashboardViewModel
  src/WinSentinel.Agent/Services/ScheduledAuditModule.cs
  src/WinSentinel.App/ViewModels/DashboardViewModel.cs
Due: unittests, Agent

perf: single-pass threat stats in ThreatFeedViewModel and DashboardViewModel
  src/WinSentinel.App/ViewModels/DashboardViewModel.cs
  src/WinSentinel.App/ViewModels/ThreatFeedViewModel.cs
Due: unittests

feat: add Security Mentor CLI command (--mentor) - personalized security training coach
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Mentor.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/SecurityMentorService.cs
Due: unittests, Core Library, CLI

security: close call-operator and variable-exec bypass in InputSanitizer
  src/WinSentinel.Core/Helpers/InputSanitizer.cs
Due: unittests, Core Library

feat: add Security Prophecy CLI command (--prophecy) - predictive threat forecasting
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Prophecy.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/SecurityProphecyService.cs
Due: unittests, Core Library, CLI

feat: add Security Rhythm Analyzer (--rhythm) CLI command
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Rhythm.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/SecurityRhythmService.cs
Due: unittests, Core Library, CLI

feat: add Security Negotiator CLI (--negotiate)
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Negotiate.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/SecurityNegotiatorService.cs
Due: unittests, Core Library, CLI

perf: eliminate string allocations in ProcessMonitorModule hot-path checks
  src/WinSentinel.Agent/Modules/ProcessMonitorModule.cs
Due: unittests, Agent

feat: add Security Compass CLI command (--compass)
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Compass.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/SecurityCompassService.cs
Due: unittests, Core Library, CLI

security: fix CWE-78 command injection in ScheduledTaskAudit FixCommands
  src/WinSentinel.Core/Audits/ScheduledTaskAudit.cs
Due: unittests, Core Library

feat(cli): add Security Topology command (--topology)
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Topology.cs
  src/WinSentinel.Cli/ConsoleFormatter.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/SecurityTopologyService.cs
Due: unittests, Core Library, CLI

feat: add Security Replay CLI command (--replay) - time-travel security debugger
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Replay.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/SecurityReplayService.cs
Due: unittests, Core Library, CLI

perf: precompute per-run finding key sets in FindingPersistenceAnalyzer
  src/WinSentinel.Core/Services/FindingPersistenceAnalyzer.cs
Due: unittests, Core Library

test: add 23 tests for SecurityReplayService (snapshot, bisect, diff)
  tests/WinSentinel.Tests/Services/SecurityReplayServiceTests.cs
Due: none

feat: add Security Flight Recorder CLI command (--flightrecorder)
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.FlightRecorder.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/SecurityFlightRecorderService.cs
Due: unittests, Core Library, CLI

feat: add Shadow IT Detector CLI command (--shadow)
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Shadow.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/ShadowItDetectorService.cs
Due: unittests, Core Library, CLI

feat(cli): add --vitals command - medical-monitor-style security health dashboard
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Vitals.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/VitalSignsService.cs
Due: unittests, Core Library, CLI

docs: document all 30 audit modules (was 13)
  docfx/articles/audit-modules.md
Due: none

Remove duplicate test files superseded by comprehensive versions
  tests/WinSentinel.Tests/FindingCorrelatorTests.cs
  tests/WinSentinel.Tests/Services/NoiseAnalyzerTests.cs
Due: none

feat: add Security War Game CLI command (--wargame)
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.WarGame.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/SecurityWarGameService.cs
Due: unittests, Core Library, CLI

test: add 58 tests for SecurityCompassService and VitalSignsService
  tests/WinSentinel.Tests/Services/SecurityCompassServiceTests.cs
  tests/WinSentinel.Tests/Services/VitalSignsServiceTests.cs
Due: none

feat(cli): add Security Canary command (--canary) — honeypot tripwire network
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Canary.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/SecurityCanaryService.cs
Due: unittests, Core Library, CLI

docs(contributing): add architecture overview, chat command guide, service catalog, and helper reference
  CONTRIBUTING.md
Due: none

feat: Autonomous Threat Hunt Engine — proactive hypothesis-driven threat hunting
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Hunt.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Services/ThreatHuntService.cs
Due: unittests, Core Library, CLI

feat: Add Process Lineage Audit — autonomous parent-child process chain analysis
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Lineage.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Audits/ProcessLineageAudit.cs
  src/WinSentinel.Core/Services/AuditEngine.cs
Due: unittests, Core Library, CLI

feat: add Network Beacon Detector — autonomous C2 beaconing pattern analysis
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Beacon.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Models/BeaconDetectionModels.cs
  src/WinSentinel.Core/Services/BeaconDetectionService.cs
  tests/WinSentinel.Tests/Services/BeaconDetectionServiceTests.cs
Due: unittests, Core Library, CLI

fix(docker): correct attestation subject-digest + add weekly vulnerability rescan
  .github/workflows/docker-rescan.yml
  .github/workflows/docker.yml
Due: none

feat: Security Regression Predictor — autonomous fix stability analysis
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Regression.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Models/RegressionModels.cs
  src/WinSentinel.Core/Services/RegressionPredictorService.cs
  tests/WinSentinel.Tests/Services/RegressionPredictorServiceTests.cs
Due: unittests, Core Library, CLI

ci: consolidate CI — remove redundant build.yml, add dependency review + SBOM generation
  .github/workflows/build.yml
  .github/workflows/ci.yml
Due: none

docs: add Security Operations Runbook
  docfx/articles/operations-runbook.md
  docfx/articles/toc.yml
Due: none

feat: Threat DNA Profiler — autonomous system vulnerability fingerprinting
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.ThreatDna.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Models/ThreatDnaModels.cs
  src/WinSentinel.Core/Services/ThreatDnaProfilerService.cs
  tests/WinSentinel.Tests/Services/ThreatDnaProfilerServiceTests.cs
Due: unittests, Core Library, CLI

feat(docker): add test stage, OCI labels, health checks, docker-compose orchestration
  .dockerignore
  Dockerfile
  docker-compose.yml
Due: none

feat: Kill Chain Reconstructor - autonomous attack phase mapping and progression detection
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.KillChain.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Models/KillChainModels.cs
  src/WinSentinel.Core/Services/KillChainReconstructorService.cs
  tests/WinSentinel.Tests/KillChainReconstructorTests.cs
Due: unittests, Core Library, CLI

docs: add XML doc comments to GroupPolicyAudit class
  src/WinSentinel.Core/Audits/GroupPolicyAudit.cs
Due: unittests, Core Library

Add coverage gate workflow with per-component thresholds
  .codecov.yml
  .github/workflows/coverage-gate.yml
Due: none

feat: Insider Threat Behavioral Profiler - autonomous user risk analysis
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.InsiderThreat.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Models/InsiderThreatModels.cs
  src/WinSentinel.Core/Services/InsiderThreatProfiler.cs
  tests/WinSentinel.Tests/InsiderThreatProfilerTests.cs
Due: unittests, Core Library, CLI

feat: add Security Posture Momentum Analyzer
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.Momentum.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Models/MomentumModels.cs
  src/WinSentinel.Core/Services/PostureMomentumAnalyzer.cs
  tests/WinSentinel.Tests/PostureMomentumAnalyzerTests.cs
Due: unittests, Core Library, CLI

feat: add Lateral Movement Detector — autonomous MITRE ATT&CK TA0008 detection
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.LateralMovement.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Models/LateralMovementModels.cs
  src/WinSentinel.Core/Services/LateralMovementDetector.cs
  tests/WinSentinel.Tests/LateralMovementDetectorTests.cs
Due: unittests, Core Library, CLI

feat: add Privilege Escalation Detector — autonomous MITRE ATT&CK TA0004 detection
  src/WinSentinel.Cli/CliParser.cs
  src/WinSentinel.Cli/ConsoleFormatter.PrivEsc.cs
  src/WinSentinel.Cli/Program.cs
  src/WinSentinel.Core/Models/PrivilegeEscalationModels.cs
  src/WinSentinel.Core/Services/PrivilegeEscalationDetector.cs
  tests/WinSentinel.Tests/PrivilegeEscalationDetectorTests.cs
Due: unittests, Core Library, CLI

Path conditions:
  unittests: any of: src/, but not: tests/**, docs/**, *.md, *.ps1, src/WinSentinel.Installer/**, src/WinSentinel.App/obj/**, **/Migrations/**
  Core Library: any of: src/WinSentinel.Core/**, but not: tests/**, docs/**, *.md, *.ps1, src/WinSentinel.Installer/**, src/WinSentinel.App/obj/**, **/Migrations/**
  CLI: any of: src/WinSentinel.Cli/**, but not: tests/**, docs/**, *.md, *.ps1, src/WinSentinel.Installer/**, src/WinSentinel.App/obj/**, **/Migrations/**
  Agent: any of: src/WinSentinel.Agent/**, but not: tests/**, docs/**, *.md, *.ps1, src/WinSentinel.Installer/**, src/WinSentinel.App/obj/**, **/Migrations/**
